<div class="col-md-12">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row">
        <div class="col">
          <h4 class="tablename">Add User</h4>
          <p class="tablesubname">Complete the profile</p>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/view-user']">Back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <form [formGroup]="managerForm">
        <div class="formout">
          <div class="row">
            <div class="col-xs-3 m-auto">
              <div class="select_cam_profile">
                <!-- <img
                  class="profile_inner_"
                  src="{{
                    profilePic ? profilePic : '/assets/images/../../../../../assets/images/undraw_Camera_re_cnp4.png'
                  }}"
                  alt=""
                /> -->

                <!-- <img class="uploadPic _add_cursor" src="../../../../../assets/images/photo-camera.svg" alt="" />
                <input
                  type="file"
                  *ngIf="isUploading"
                  class="custom-file-input"
                  id="customFile"
                  (change)="fileChangeEvent($event)"
                /> -->

                <!-- <span>
                    <img class="profile_inner_" src="{{profilePic ? profilePic:'/assets/images/../../../../../assets/images/userhd.png'}}" alt="">
                    <span>
                      <img class="icon_img_profile" src="../../../../../assets/images/photo-camera.svg" alt="">
                      <input type="file" *ngIf="isUploading" class="custom-file-input" id="customFile"    (change)="fileChangeEvent($event)">
                    </span>
                  </span> -->

                <div class="cropper" *ngIf="imageChangedEvent">
                  <h5 class="cropper-title">Crop Image</h5>
                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    cropperMinWidth="100"
                    cropperMinHeight="100"
                    resizeToWidth="100"
                    resizeToHeight="100"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  <button class="btn btn-danger mr-rt-1x mr-2" (click)="cancel()">Cancel</button>
                  <button (click)="save()" class="btn btn-primary ml-2">Save</button>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-12 row m-0 extraMargin">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="First name" />
                  <div
                    *ngIf="
                      managerForm.controls['firstName'].invalid &&
                      (managerForm.controls['firstName'].dirty || managerForm.controls['firstName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['firstName'].errors.required">
                      *First name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" />
                  <div
                    *ngIf="
                      managerForm.controls['lastName'].invalid &&
                      (managerForm.controls['lastName'].dirty || managerForm.controls['lastName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['lastName'].errors.required">
                      *Last name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" />
                  <div
                    *ngIf="
                      managerForm.controls['email'].invalid &&
                      (managerForm.controls['email'].dirty || managerForm.controls['email'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['email'].errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="managerForm.controls['email'].errors.pattern">
                      *Invalid email .
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Create Password</label>
                  <input
                    type="text"
                    class="form-control position-relative"
                    formControlName="password"
                    placeholder="Password"
                  />
                  <!-- <span class="_gn_password" (click)="generatePassword()">Generate Password</span> -->
                  <div
                    *ngIf="
                      managerForm.controls['password'].invalid &&
                      (managerForm.controls['password'].dirty || managerForm.controls['password'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['password'].errors.required">
                      *Password is required.
                    </div>
                    <div *ngIf="managerForm.controls['password'].errors.minlength">
                      *Password length should be minimum 6 character.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="Address" />
                  <div
                    *ngIf="
                      managerForm.controls['address'].invalid &&
                      (managerForm.controls['address'].dirty || managerForm.controls['address'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['address'].errors.required">
                      *Address is required.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="mobile_format"
                    maxlength="14"
                    minlength="14"
                    (input)="_mobileFormat('test')"
                    placeholder="Create password"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['mobile_format'].invalid &&
                      (managerForm.controls['mobile_format'].dirty || managerForm.controls['mobile_format'].touched)
                    "
                    class="errorinput text-left"
                  >
                   
                    <div *ngIf="managerForm.controls['mobile_format'].errors.minlength">
                      *Invalid Phone number.
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="row col-md-12 m-0 p-0"></div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
              <button class="btn w-30 addCandidateBtn" [disabled]="!managerForm.valid" (click)="submitForm()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
