<section class="right-panel-wrapper mt-3">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="active" routerLinkActive="active">Approved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="inactive" routerLinkActive="active">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="rejected" routerLinkActive="active">Rejected</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <router-outlet></router-outlet>
</section>
