<div class="container">
  <div class="row justify-content-center mt-2">
    <img src="../../../../assets/images/Wythe-Veterinary_logo.png" alt="">
  </div>
  <div 
  class="row mt-4 card-header card-header-primary1 justify-content-between align-items-center"
>
  <div class="col-md-12 text-center">
    <h4 class="tablename">
     Fill Your Assessment
    </h4>
  </div>
  <div class="col text-center">
   <span></span>
  </div>
</div>
  <div class="col-md-12 pt-3 p-0">
    <div class="card table_outer">
      <div
        class="row card-header card-header-primary justify-content-between align-items-center"
      >
        <div class="col">
          <h4 class="tablename">
            Assessment {{ assementdetail?.tracklist }} {{ assementdetail?.level }}
          </h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
            <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
  
            <thead class="tableheading">
              <tr>
                <th></th>
                <th style="white-space: nowrap" class="pl-0">Skills</th>
                <th class="text-center">Basic</th>
                <th class="text-center">Intermediate</th>
                <th class="text-center">Mastered</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of assementList; index as i">
                <td class="text-center">
                  <span
                    *ngIf="data?.isStarred == false"
                    class="_add_cursor"
                    (click)="ValidateStarred(i, true)"
                  >
                    <img
                      class=" "
                      style="width: 20px; height: 20px"
                      src="../.../../../../../assets/images/star.png"
                      alt=""
                  /></span>
                  <span
                    *ngIf="data?.isStarred == true"
                    class="_add_cursor"
                    (click)="ValidateStarred(i, false)"
                  >
                    <img
                      class=""
                      style="width: 20px; height: 20px"
                      src="../.../../../../../assets/images/star_color.png"
                      alt=""
                  /></span>
                </td>
                <td class="pl-0">{{ data.name }} <img class="info" *ngIf="data.description" src="../../../../../assets/images/information-button.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ data?.description }}"></td>
                <td class="text-center">
                  <!-- <div class="custom-control custom-checkbox mb-3">
                  <input [(ngModel)]="data.basic" type="checkbox"  >
                </div> -->
                  <label
                    class="main"
                    [class.disabled_checkbox]=" 
                    assementdetail?.status == 'submitted' ||
                      (data.status == 'approved' &&
                        data.skillLevel == 'intermediate') ||
                      (data.status == 'approved' &&
                        data.skillLevel == 'mastered') ||
                      (data.status == 'approved' && data.skillLevel == 'basic') 
                    "
                    [class.approved_status]="data.status == 'approved'"
                    [class.rejected_status]="data.status == 'rejected'"
                  >
                    <input
                      (change)="basicChange(i, data.basic)"
                      type="checkbox"
                      [(ngModel)]="data.basic"
                      checked="checked"
                      [ngClass]="{'disable':data.status =='submitted'}"
                    />
                    <span
                      class="geekmark"
                      [class.approved_status]="
                        data.skillLevel == 'basic' && data.status == 'approved'
                      "
                      [class.rejected_status]="
                        data.skillLevel == 'basic' && data.status == 'rejected'
                      "
                    ></span>
                  </label>
                </td>
                <td class="text-center">
                  <!-- <input type="checkbox" [(ngModel)]="data.intermediate" (click)="changedVal()"> -->
                  <label
                    class="main"
                    [class.disabled_checkbox]="
                    assementdetail?.status == 'submitted' ||
                      (data.status == 'approved' &&
                        data.skillLevel == 'intermediate') ||
                      (data.status == 'approved' &&
                        data.skillLevel == 'mastered') ||
                      (data.status == 'approved' && data.skillLevel == 'basic')
                    "
                    [class.approved_status]="data.status == 'approved'"
                    [class.rejected_status]="data.status == 'rejected'"
                  >
                    <input
                      (change)="intermediateChange(i, data.intermediate)"
                      type="checkbox"
                      [(ngModel)]="data.intermediate"
                      [ngClass]="{'disable':data.status =='submitted'}"
                      checked="checked"
                    />
                    <span
                      class="geekmark"
                      [class.approved_status]="
                        data.skillLevel == 'intermediate' &&
                        data.status == 'approved'
                      "
                      [class.rejected_status]="
                        data.skillLevel == 'intermediate' &&
                        data.status == 'rejected'
                      "
                    ></span>
                  </label>
                </td>
                <td class="text-center">
                  <!-- <input type="checkbox" [(ngModel)]="data.mastered" (click)="changedVal()"> -->
  
                  <label
                    class="main"
                    [class.disabled_checkbox]="
                      data.status == 'approved' && data.skillLevel == 'mastered' || assementdetail?.status == 'submitted'
                    "
                  >
                    <input
                      (change)="masteredChange(i, data.mastered)"
                      type="checkbox"
              
                      [(ngModel)]="data.mastered"
                      checked="checked"
                    />
                    <span
                      class="geekmark"
                      [class.approved_status]="
                        data.skillLevel == 'mastered' && data.status == 'approved'
                      "
                      [class.rejected_status]="
                        data.skillLevel == 'mastered' && data.status == 'rejected'
                      "
                    ></span>
                  </label>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
  
  
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group position-relative">
              <label>Note</label> <br />
              <textarea
                (input)="changeText()"
                [(ngModel)]="noteText"
                id=""
                cols="20"
                rows="4"
                class="w-100"
                placeholder="Type here..."
                style="
                  font-size: 14px;
                  background-color: #eeeeee;
                  border: none;
                  height: 130px;
                  padding: 10px;
                  border-radius: 8px;
                "
              ></textarea>
              <p>
                <span *ngIf="isNote == true" class="errorinput">
                  Notes is required</span>
                
              </p>
            </div>
          </div>
  
          <div class="col-sm-12 col-md-6" style="height: 200px;">
            <div
            class="form-group position-relative m-0"
            style="padding: 2px"
          >
            <label>attachment</label> <br />
            <div class="custom-file">
              <input
                type="file"
                accept="application/pdf"
                (change)="uploadAttachment($event)"
                class="custom-file-input"
                id="demo"
              />
              <label
                class="custom-file-label image-label-hide"
                for="mediashot"
                >{{ fileNamess }}</label>
            </div>
          </div>
          </div>
         
  
          <!-- <button class="btn  addCandidateBtn "></button> -->
        </div>
        <button class="btn ml-3 addCandidateBtn" [disabled]="isSubmit == false || assementdetail.status =='submitted'" (click)="submitData()">
          Submit
        </button>
      </div>
    </div>
  </div>
  
  
</div>