@import "../../../../../assets/styles/variable.scss" ;
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $dark-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $dark-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}

.card-title {
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $dark-blue;
font-size: 15px;
font-weight: bold;
}


.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 6px 38px 7px 38px;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
}
.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;
}
.cancelImg {
    top: 38px;
    right: 10px;
    cursor: pointer;
}

.resetclass {
    line-height: 15px;
    background: rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
}
.suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.disabled {
    opacity: 0.7 !important;
    pointer-events: none;
    font-weight: 500;
}

@media(max-width:768px ){
    .btn {
        padding:9px;
        font-size: 13px;
    }
    .pagination_custom li {
        padding:7px
    }
}
._modal_text{
    color: #D6B34D;
    font-size: 16px;
    font-weight: bold;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, #a09b9b 60%), linear-gradient(135deg, #a7a4a4 40%, transparent 50%) !important;
    background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }

  .selectt{
    padding: 6px 0px 0px 10px;
    border-radius: 8px;
    font-size: 13px;
    border-color: transparent;
}

.form-control-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #EEEEEE;
    background-clip: padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.fontSize {
    font-size: 16px;
}
.delete_ass {
    margin-right: 10px;
    width: 13px;
    float: right;
 }
 .skill_btn {
    background-color: #e6e6e6;
    color: #777777;
    position: absolute;
    right: 16px;
    bottom: 17px;
}
.skill li {
    list-style: none;
   text-decoration: none;
   font-size: 14px;
   width: 100%;
}
.skill ul {
    text-decoration: none;
    list-style: none;
    max-height: 100px;
    overflow: auto;
 }

 img{
    //height: 41px;
    //width: 40px;
    border-radius: 23px;
    cursor: pointer;
    
}