
<div class="mt-4">
  <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
  <app-no-file *ngIf="resourceList.length == 0"></app-no-file>
  <mat-accordion>
    <mat-expansion-panel *ngFor ="let item of resourceList" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header (click)="categorySelect(item.data)" >
        <mat-panel-title  >
       <span class="title"> {{item.category}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="card table_outer">
        <div class="card-header card-header-primary">
          <h4 class="tablename">Resource List</h4>
          <!-- <p class="tablesubname">All assessment</p> -->
        </div>
        <div class="card-body">
      <div class="table-responsive">
        <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
          <table *ngIf="tempData?.length > 0" class="table">
          <thead class="tableheading">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Attachment</th>
              <th scope="col">URL</th>
              <th scope="col">Description</th>
  
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tempData;">
            
              <td class="_noWrap">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title={{item?.fullTitle}}>
                  {{item?.title ? item?.title : "---"}}
                </span>
                </td>
              <td>
                <a *ngIf="item.attachment[0] !== ''"><img class="pdfImg" (click)="openwebView(item.attachment[0])" src="../../../../../assets/images/pdf.png"/></a>
              <a *ngIf="item.attachment[0] == ''"> --</a>
              </td>
              <td>
                <a *ngIf="item.url == ''"> --</a>
                <a
                *ngIf="item.url!== ''"
                  target="_blank"
                  (click)="openwebView(item.url)"
                  
                  ><img style="cursor: pointer;" class="pdfImg" src="../../../../assets/images/website.png" alt=""></a
                >
              </td>
              
              <!-- <td >
                
               <span data-bs-toggle="tooltip" data-bs-placement="bottom" title={{item?.description}}> {{item?.descriptionDispt ? item?.descriptionDispt :item?.description}}</span>       
                     </td> -->

                     <td >
                      <span *ngIf="item?.descriptionDispt !== ''  || item?.description !== ''"
                        
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="{{ item.description }}"
                      >
                        {{
                          item?.descriptionDispt
                            ? item?.descriptionDispt
                            : item?.description
                        }}</span
  
                      >
                      <span  *ngIf="item?.descriptionDispt == '' || item?.description == ''">---</span>
                    </td>


              <!-- <td>
                <img
                 [queryParams]="{id:item.resourceId}" [routerLink]="['/main/admin/edit-resource']"
                  class="editImg mr-1 _add_cursor"
                  routerLink="/main/admin/edit-resource"
                  src="../../../../../assets/images/edit.svg"
                />
                <img
                #DeleteBtn (click)="openModalDelete(item.resourceId,modaldelete,DeleteBtn)" 
                  class="editImg ml-2 _add_cursor"
                  src="../../../../../assets/images/delete.svg"
                />
    
              </td> -->
            </tr>
  
  
          </tbody>
        </table>
      </div>
      </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>