<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row align-items-center">
        <div class="col pull-left">
          <h4 class="tablename">Assessment List</h4>
          <p class="tablesubname">All Assessments</p>
        </div>
        <!-- <div class="col text-right">
          <button class="btn addCandidateBtn1 " routerLink="/main/admin/add-manager" >+ Add New Manager</button></div> -->
      </div>
     
      <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">

<!-- <app-no-file *ngIf="managerList.length <= 0"></app-no-file> -->

<!-- <mat-form-field class="example-full-width">
  <mat-label>Assignee</mat-label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

<!-- <button (click)="filterFun()">Search</button>
<button (click)="onReset()">REset</button> -->


<div class=" row col-md-12 mt-3 align-items-center" >
      <div  class="col-md-3 col-sm-3">
        <mat-form-field class="mat-form w-100" style="font-size: 13px;">
          <mat-label>Search by status</mat-label>
          <mat-select [(value)]="searchUserStatus">
            <mat-option (click)="filterFun()" value="all">All</mat-option>
            <mat-option (click)="filterFun()" value="pending">Pending approvals</mat-option>
      
            <mat-option (click)="filterFun()" value="completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-sm-2">
        <mat-form-field class="mat-form w-100" style="font-size: 13px;">
          <mat-label>Search by type</mat-label>
          <mat-select  [(value)]="searchBy">
            <mat-option value="all">Select</mat-option>
            <!-- <mat-option value="email">Email</mat-option> -->
            <mat-option value="title">Title</mat-option>
            <mat-option value="name">Name</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div  class="col-md-3 col-sm-3 ">
        <mat-form-field class="example-full-width mat-form w-100" style="font-size: 13px;">
          
          <input matInput placeholder="Employee email" style="padding-right:31px" [(ngModel)]="searchText" />
          <span class="fa fa-search" (click)="filterFun()" style="float: right;position: absolute;right:10px;cursor: pointer;"></span>
        </mat-form-field>
      </div> -->

      <div *ngIf="searchBy == 'title'" class="col-md-3 col-sm-3">
        <mat-form-field class="mat-form w-100" style="font-size: 13px;">
          <mat-label>Assessment title</mat-label>
          <mat-select  [(value)]="searchTitle">
            <mat-option value="all">Select</mat-option>
            <mat-option (click)="filterFun()" [value]="list.assessmentId" *ngFor="let list of allAssessment" >{{list?.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <!-- <div *ngIf="searchBy == 'title'" class="col-md-3 col-sm-3">
        <mat-form-field class="example-full-width mat-form w-100" style="font-size: 13px;">
          <input matInput placeholder="title" [(ngModel)]="searchText" />
        </mat-form-field>
      </div> -->
      <!-- <div *ngIf="searchBy == 'name'" class="col-md-3 col-sm-3">
        <mat-form-field class="mat-form w-100" style="font-size: 13px;">
          <mat-label>Employee name</mat-label>
          <mat-select  [(value)]="searchEmpName">
            <mat-option value="all">Select</mat-option>
            <mat-option [value]="list.userId" *ngFor="let list of allEmployee" >{{list?.firstName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
<div class="col-md-3" style="margin-top:-20px" *ngIf="allEmployee?.length > 0 && searchBy == 'name'">
<angular2-multiselect
[data]="allEmployee" 
  [settings]="settings1" 
  [(ngModel)]="selectedItem"
  [ngModelOptions]="{standalone: true}"
  (onSelect)="onItemSelect($event)"
  (onDeSelect)="onItemDeSelect($event)"
  >
</angular2-multiselect>
</div>
<div class="col-md-3 col-sm-3 ">
  <mat-form-field class="example-full-width mat-form w-100" style="font-size: 13px;">
    
    <input matInput placeholder="Employee email" (keydown.enter)="filterFun()" style="padding-right:31px" [(ngModel)]="searchText" />
    <span class="fa fa-search" (click)="filterFun()" style="float: right;position: absolute;right:10px;cursor: pointer;"></span>
  </mat-form-field>
</div>

        <!-- <button class="btn btn-primary mr-1" (click)="filterFun()">Search</button> -->
<button class="btn btn-warning ml-1 mb-2" (click)="onReset()">Reset</button>
     
    </div>

        <table  class="table" *ngIf="assessmentList?.length > 0" >
         
          <thead class="tableheading">
              <tr >
              
                <th scope="col" style="white-space: nowrap;">Employee name</th>
                <th style="white-space: nowrap">Assessment Level</th>
                <th style="white-space: nowrap">Last Activity</th>
                <th style="white-space: nowrap;">New Requests</th>
                <th style="white-space: nowrap;">Under Observation</th>
                <th>Status</th>
                <th style="white-space: nowrap;">View Assessment</th>
                <th style="white-space: nowrap;">View Profile</th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of assessmentList">
                <!-- <td style="white-space: nowrap">
                  <img
                   
                    class="profilePic"
                    src="{{data?.userProfilePic ? data?.userProfilePic:'../../../../../../../assets/images/userhd.png"
                  />
                </td> -->
                <!-- <td>Vernon Lynch</td> -->
                <td >{{data?.userFirstName}} {{data?.userLastName}}</td>
                <td style="white-space: nowrap">{{data?.tracklist}} {{data?.level}}</td>
                <td>
                  <span *ngIf="data?.lastModifiedDate" style="white-space: nowrap;"> {{formatTime(data?.lastModifiedDate *1000)}} </span>
                  <span *ngIf="!data?.lastModifiedDate"> -- </span>
                </td>
                <td style="white-space: nowrap;">{{data?.totalRequest?data.totalRequest :'No New Request'}}</td>
                <td style="white-space: nowrap;">{{data?.totalUnderObs?data.totalUnderObs :'--'}}</td>
                <td> {{data?.status}}</td>
                <td style="white-space: nowrap" >
                    <span
                        *ngIf="data?.percentage =='0'"
                          class="greyclass _add_cursor"
                          style="line-height: 15px"
                          (click)="naviageAssessment(data.userAssessmentId)"
                         >Pending  </span>
                    <span *ngIf="data?.percentage >'0'"
                      (click)="naviageAssessment(data.userAssessmentId)" class=" _add_cursor"
                      ><progress-bar [progress]="data.percentage" [color]="'#sfc940e'">
                    </progress-bar></span>


                </td>
                

                <td class="pl-0">
                  <div class="row p-0 pl-0 m-0">
                    
                    <span
                      class="ml-3 View print"
                      style="line-height: 15px; cursor: pointer;white-space:nowrap;"
                      #statusBtn1
                      [queryParams]="{id:data.userId}" routerLink="/main/manager/view-profile"
                      >View Profile</span
                    >
                  </div>
                </td>
           
              </tr>

       
            </tbody>
        </table>
        <app-no-file *ngIf="assessmentList?.length == 0"></app-no-file>
      </div>
    </div>
    <div class="row p-0 m-0 mt-2 mb-3 align-items-center" *ngIf="assessmentList?.length > 0">
      <div  class="pagLimitSet">
        <select class="pagLimitSet_selecet" (change)="changePageLimit()"  [(ngModel)]="pagelimit">
          <option  value="5">5</option>
          <option  value="10">10</option>
          <option  value="20">20</option>
          <option  value="50">50</option>
          <option  value="100">100</option>
        </select>
       
      </div>
      <div class="col" style="margin-right:10px">
        <div class="pagination_custom" *ngIf="assessmentList?.length > 0" >
          <ul class="d-flex flex-row">
            <li (click)="prevPage()" [ngClass]="{'disabled_pagination':currentPage  == 0}" > < </li>
            <li class="show_number"> {{currentPage + 1}} / {{totalPage}} </li>
            <li (click)="nextPage()" [ngClass]="{'disabled_pagination':currentPage + 1  == totalPage }" > > </li>
        </ul>
      </div>
      </div>
</div>

  </div>
</div>

<ng-template #skillmodal let-modal>
  <div class="row card-header card-header-primary">
    <div class="col"><h4 class="tablename">View Skills</h4></div>
  </div>
  <div class="modal-body" style="height: 400px;overflow: auto;">
    <table class="table">
      <tbody>
        <tr class="out_div">
          <td class="_inside_text" style="display: block;" *ngFor="let item of skills; index as i">{{ item["name"] }} <img *ngIf="item.description" class="info" src="../../../../../assets/images/information-button.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item?.description }}"></td>
        </tr>
      </tbody>
    </table>

    
  </div>
  <div class="modal-footer">
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        (click)="modal.dismiss('Cross click')"
        class="w-50 btn addCandidateBtn"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>