@import "../../../../../assets/styles/variable.scss";
html, body {
    scroll-behavior: smooth !important;
}

.card-header-icon {
    text-align:right;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
p {
    margin: 0;
}
.errorinput{
color: red;
font-size: 10px;
}
.card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $orange, $orange);
    box-shadow: 0 4px 20px 0 rgba(255, 129, 55, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card .card-icon2 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $green, $green);
    box-shadow: 0 4px 20px 0 rgba(64, 161, 68,0.14), 0 7px 10px -5px rgba(13, 77, 15, 0.4);
}
.card .card-icon3 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $light-blue, $light-blue);
    box-shadow: 0 4px 20px 0 rgba(11, 210, 224, 0.14), 0 7px 10px -5px rgba(23, 166, 223, 0.4);
}
.card-stats .card-header.card-header-icon i {
    font-size: 22px;
    line-height: 35px;
    width: 40px;
    height: 24px;
    text-align: center;
}
.card-category {
    color: #999;
p {
    font-size: 14px;
}
h3 {
    font-size: 16px;
}
}

.announcementIcon {
    width: 25px;
    height: 25px;
}


.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $light-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $light-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $light-blue;
font-size: 15px;
font-weight: bold;
}
.tableheadingnetwork {
    color: $green;
    font-size: 18px;
    font-weight: bold;
    }
    .tablenetworkheading {
        background-color: $green;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $green;
    }

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: #777777;
    padding: 3px 26px 3px 26px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $light-blue;
    color:white;
}

// .table td:first-child {
//     border-top:none;
// }
.view-network li .icon img {
    width: 20px;
}
.view-network li {
    list-style: none;
   text-decoration: none;
}
.view-network ul {
    text-decoration: none;
    list-style: none;
 }
 .view-network li .date {
    font-size: 13px;
    color: #929292;
    font-weight: bold
 }
 .view-network li .text {
    font-size: 14px;
    color: #777777;
}

.pagination_custom  li{
    background-color: $light-blue;
}
::-webkit-scrollbar-thumb {
    background: $light-blue !important;
    border-radius: 10px;
  }
  ._add_message_btn  {
    font-size: 15px;
    padding:7px;
    cursor: pointer;
  }
  ._add_message_btn:hover {
      color: whitesmoke;
  }
  .cardImg {
      height: 20px;
      width: 35px;
  }
  .networkList {
      font-size: 12px;
  }
  .max_height {
    overflow: auto;
    height: 250px;
    scroll-behavior: smooth;
}
.max_height::-webkit-scrollbar-thumb {
        background: $green !important;
        border-radius: 10px;
}
li {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 4px;
    margin-right: 6px;
}

img {
    height: 20px;
    width: 15px;
}
._modal_text {
    color: #0C479D;
    font-size: 16px;
    font-weight: bold;
}
.modalHead {
    background-color: #0C479D !important;
    color: #ffffff !important;
}
.modal-header .close {
    color: white;
}
select {
    background-image: linear-gradient(45deg, transparent 50%, #a09b9b 60%), linear-gradient(135deg, #a7a4a4 40%, transparent 50%) !important;
    background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }

  .selectt{
    padding: 6px 0px 0px 10px;
    border-radius: 8px;
    font-size: 13px;
    border-color: transparent;
}

.form-control-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #EEEEEE;
    background-clip: padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 3px 25px 3px 25px;
}
.greyclass {
    line-height: 15px;
    background:rgba(201, 201, 201, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
    margin-left: 4px;
}
.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;

}