<div class="content">
  <div class="container-fluid">
    <!-- <app-spinner *ngIf="isLoading" [type]="'normal'" ></app-spinner> -->
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats mt-5">
          <div
            (click)="naviget('U')"
            [routerLink]="['/main/admin/view-user']"
            class="card-header card-header-warning card-header-icon"
          >
            <div class="card-icon">
              <!-- <i class="material-icons">content_copy</i> -->
              <!-- <i class="fas fa-users"></i> -->
              <img class="cardImg" src="../../../../../assets/images/Managers_icon_white.svg" />
            </div>
            <p class="card-category">Total Count</p>
            <h3 class="card-title">{{ dashboardData?.totalUsers || "0" }}</h3>

            <p class="text-left">Users</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats mt-5">
          <div
            (click)="naviget('C')"
            [routerLink]="['/main/admin/view-company']"
            class="card-header card-header-warning card-header-icon"
          >
            <div class="card-icon2">
              <!-- <i class="material-icons">content_copy</i> -->
              <img class="cardImg" src="../../../../../assets/images/ic_company_white.svg" />
            </div>
            <p class="card-category">Total Count</p>
            <h3 class="card-title">{{ dashboardData?.totalCompanies || "0" }}</h3>

            <p class="text-left">Company</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats mt-5">
          <div
            (click)="naviget('P')"
            [routerLink]="['/main/admin/view-post']"
            class="card-header card-header-warning card-header-icon"
          >
            <div class="card-icon3">
              <!-- <i class="material-icons">content_copy</i> -->
              <!-- <i class="fas fa-user-plus"></i> -->
              <img class="cardImg" src="../../../../../assets/images/ic_post_white.svg" />
            </div>
            <p class="card-category">Total Count</p>
            <h3 class="card-title">{{ dashboardData?.totalPosts || "0" }}</h3>

            <p class="text-left">Posts</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 offset-md-2">
        <div class="card card-stats mt-5">
          <div
            (click)="naviget('I')"
            [routerLink]="['/main/admin/view-industry']"
            class="card-header card-header-warning card-header-icon"
          >
            <div class="card-icon2">
              <!-- <i class="material-icons">content_copy</i> -->
              <img class="cardImg" src="../../../../../assets/images/ic_industry_white.svg" />
            </div>
            <p class="card-category">Total Count</p>
            <h3 class="card-title">{{ dashboardData?.totalIndustryTypes || "0" }}</h3>

            <p class="text-left">Industry</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats mt-5">
          <div
            (click)="naviget('J')"
            [routerLink]="['/main/admin/view-investment']"
            class="card-header card-header-warning card-header-icon"
          >
            <div class="card-icon">
              <!-- <i class="material-icons">content_copy</i> -->
              <!-- <i class="fas fa-users"></i> -->
              <img class="cardImg" src="../../../../../assets/images/ic_investment_white.svg" />
            </div>
            <p class="card-category">Total Count</p>
            <h3 class="card-title">{{ dashboardData?.totalInvestmentTypes || "0" }}</h3>

            <p class="text-left">Investment</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="p-0 m-0">
      <div class="col-md-12 p-0">
        <div class="card table_outer">
          <div class="card-header card-header-primary tablenetworkheading">
            <div class="row">
              <h4 style="font-size: 15px;padding:7px" class="col ml-2">Network Update</h4>
              <p #statusBtn class="col text-right mr-2 _add_message_btn" (click)="openModal('row', modal, statusBtn)">
                Add Message
              </p>
            </div>
          </div>
          <div class="card-body">
            <div class="view-network">
              <div class="text-center" style="font-size: 12px;" *ngIf="networkList?.length == 0">
                No message Available !!
              </div>
              <ul #scrollMe (scroll)="onScroll()" [ngClass]="{ max_height: networkList?.length > 4 }">
                <li *ngFor="let item of networkList" class="mb-3">
                  <div class="p-0 m-0 ">
                    <div class="row justify-content-between m-0 align-items-baseline">
                      <span class="date ml-2">{{ item?.humanDate }}</span> <br />
                      <span class="mr-3">
                        <img
                          #statusBtn
                          style="cursor: pointer;"
                          (click)="deleteModalOpen(item, deleteModal, statusBtn)"
                          src="../../../../../assets/images/delete.svg"
                        />
                      </span>
                    </div>
                    <span *ngIf="item?.type == 'adminMessage'"
                      ><img class="announcementIcon" src="../../../../../assets/images/megaphone.png" alt=""
                    /></span>
                    <span class="icon" *ngIf="item?.type == 'skillUpgrade'"
                      ><img src="../../../../../assets/images/star.svg" alt=""
                    /></span>
                    <span class="text ml-1"> {{ item.message }} </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="p-0 m-0">
      <app-all-assessment-list></app-all-assessment-list>
    </div> -->
  </div>
</div>

<!-- <ng-template #modal let-modal>
  <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
  <div class="modal-header modalHead">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <div class="row col-md-12 justify-content-center">
      <p for="">Network Update</p>
    </div>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="row col-md-12 m-0 p-0">
        <div class="col-md-12">
          <div class="form-group position-relative">
            <label>Message</label>
            <textarea
              formControlName="message"
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Type message"
              class="w-100"
              style="font-size: 12px;background-color: #EEEEEE;border: none;height: 100px;padding: 10px;"
            >
            </textarea>
            <div
              *ngIf="
                modalForm.controls['message'].invalid &&
                (modalForm.controls['message'].dirty || modalForm.controls['message'].touched)
              "
              class="errorinput"
            >
              <div *ngIf="modalForm.controls['message'].errors.required">
                *Message is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-2 col-md-12 justify-content-center m-0">
      <button
        style="background-color: #0C479D;"
        [disabled]="!modalForm.valid"
        (click)="addMessage()"
        class="w-50 btn addCandidateBtn"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template> -->

<!-- <app-spinner *ngIf="isLoading" [type]="'normal'" ></app-spinner> -->

<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
      <p class="_modal_text">Are you sure?</p>
      <p class="_modal_text">You want to remove this message!</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn" (click)="deleteMessage()">Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0C479D;"
        (click)="modal.dismiss('Cross click')"
        class="w-50 btn addCandidateBtn"
      >
        No
      </button>
    </div>
  </div>
</ng-template>
<ng-template #modaldelete2 let-modal>
  <div class="card-body">
    <div class="formout">
      <div class="container-fluid p-0">
        <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
        <div class="col-md-7 col-xs-7 m-auto p-0">
          <div class="content mt-4">
            <div class="row justify-content-center">
              <img
                class="imageUpload"
                (click)="swalImg(profileDetail?.profilePic)"
                src="{{
                  profileDetail?.profilePic
                    ? profileDetail?.profilePic
                    : '../../../../../../../assets/images/userhd.png'
                }}"
                alt=""
              />
            </div>
            <div class="row justify-content-center mt-3">
              <div class="col-6 text-right">
                <p>Name:</p>
              </div>
              <div class="col-6 left">
                <p>
                  {{ profileDetail?.firstName || "--" }}
                  {{ profileDetail?.lastName }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p>Email:</p>
              </div>
              <div class="col-6 left">
                <p>{{ profileDetail?.email || "--" }}</p>
              </div>
              <div class="col-6 text-right">
                <p>Phone Number:</p>
              </div>
              <div class="col-6 left">
                <p>{{ profileDetail?.mobile || "--" }}</p>
              </div>
              <div class="col-6 text-right">
                <p>Manager Name:</p>
              </div>
              <div class="col-6 left">
                <p>
                  {{ profileDetail?.managerFirstName || "--" }}
                  {{ profileDetail?.managerLastName }}
                </p>
              </div>
              <div class="col-6 text-right">
                <p>Title:</p>
              </div>
              <div class="col-6 left">
                <p>{{ profileDetail?.title || "--" }}</p>
              </div>
              <div class="col-6 text-right">
                <p>Department:</p>
              </div>
              <div class="col-6 left">
                <p style="white-space: nowrap;">{{ (profileDetail?.department)[0] || "--" }}</p>
              </div>
              <div class="col-6 text-right">
                <p>Facility:</p>
              </div>
              <div class="col-6 left">
                <p>{{ profileDetail?.facility || "--" }}</p>
              </div>
              <div class="col-6 text-right">
                <p>Salary:</p>
              </div>
              <div class="col-6 left">
                <p class="salary">{{ profileDetail?.salary || "--" }}</p>
              </div>
            </div>
            <div class="row justify-content-center mt-2">
              <button class="btn addCandidateBtn " (click)="modal.dismiss('Cross click')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
