<div class="content">
  <div class="row">
    <button (click)="backNavigate()" class="btn discardBtn ml-3 mt-3 mb-3">Back</button>
  </div>
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-md-4 col-lg-4 p-0">
        <div class="card table_outer">
          <div class="card-header card-header-primary orangeHeader">
            <div class="row">
              <h4 style="font-size: 14px; padding: 7px" class="col ml-2">
                {{ profileDetail?.firstName }} {{ profileDetail?.lastName }}
              </h4>
            </div>
          </div>
          <div class="card-body" style="height: 160px;overflow: auto;">
            <div class="view-network">
              <div class="row">
                <div class="col-4 text-center">
                  <img
                    style="height: 76px; width: 100%; border-radius: 40px"
                    [src]="
                      profileDetail?.profilePic
                        ? profileDetail?.profilePic
                        : '../../../.././../../assets/images/userhd.png'
                    "
                  />
                </div>
                <div class="col-8 p-0">
                  <ul class="profile" style="text-decoration: none">
                    <!-- <li>
                      {{ profileDetail?.firstName }}
                      {{ profileDetail?.lastName }}
                    </li> -->
                    <li>{{ profileDetail?.email }}</li>
                    <li>{{ profileDetail?.mobile }}</li>
                    <li style="font-size: 14px;">{{ profileDetail?.title }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="card card-stats">
          <div
            class="card-header card-header-warning card-header-icon"
            style="height: 202px"
            #skillBtn
            (click)="openNoteModal(notemodal, skillBtn)"
          >
            <div class="card-icon">
              <!-- <i class="material-icons">content_copy</i> -->
              <i class="far fa-clipboard"></i>
            </div>
            <p class="card-category">Total count</p>
            <h3 class="card-title mt-1">{{noteList.length}}</h3>

            <p
              class="text-left position-absolute mb-5"
              style="bottom: 0px; font-size: 18px"
            >
              Notes
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 p-0">
        <div class="card card-stats">
          <div
            class="card-header card-header-warning card-header-icon"
            style="height: 202px"
            #atchBtn
            (click)="openAttachmentModal(attachmentmodal, atchBtn)"
          >
            <div class="card-icon2">
              <!-- <i class="material-icons">content_copy</i> -->
              <i class="far fa-edit"></i>
            </div>
            <p class="card-category">Total count</p>
            <h3 class="card-title mt-1">{{attachmentList?.length}}</h3>

            <p
              class="text-left position-absolute mb-5"
              style="bottom: 0px; font-size: 18px"
            >
              Attachment
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>


      <div class="col-md-12 pt-3 p-0">
        <div class="card table_outer">
          <div class="card-header card-header-primary blueHead">
            <h4 class="tablename">Assessment list</h4>
            <p class="tablesubname">All assessment</p>
          </div>
          <div class="card-body">
                    
        <app-spinner [type]="'normal'" *ngIf="isLoading"></app-spinner>
            <div class="table-responsive">
              <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
              <app-no-file *ngIf="assessmentList?.length <= 0"></app-no-file>
              <table class="table" *ngIf="assessmentList?.length > 0">
                <thead class="tableheading">
                  <tr>
                    <th scope="col" style="white-space: nowrap">Track</th>
                    <th scope="col">Level</th>
               
                    <th scope="col">Title</th>
                    <th scope="col">Last Activity</th>
                    <th>Status</th>
                    <th>View Assessment</th>
                
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of assessmentList">
                    <td>{{ item?.tracklist ? item?.tracklist : "---" }}</td>
      
                    <td class="_noWrap" *ngIf="item?.level == '1'">
                      <label class="container">
                        <span [ngClass]="{ blue: item?.level == '1' }">{{
                          item?.displayLevel
                        }}</span>
                        <input
                          type="radio"
                          checked="checked"
                          disabled
                          class="noaction"
                          name="radio"
                        />
                        <span
                          [ngClass]="{ blueClass: item?.level == '1' }"
                          class="checkmark"
                        ></span>
                      </label>
                    </td>
                    <td class="_noWrap" *ngIf="item?.level == '2'">
                      <label class="container">
                        <span [ngClass]="{ orange: item?.level == '2' }">{{
                          item?.displayLevel
                        }}</span>
                        <input
                          type="radio"
                          checked="checked"
                          disabled
                          class="noaction"
                          name="radio"
                        />
                        <span
                          [ngClass]="{ orangeClass: item?.level == '2' }"
                          class="checkmark"
                        ></span>
                      </label>
                    </td>
      
                    <td class="_noWrap" *ngIf="item?.level == '3'">
                      <label class="container"
                        ><span [ngClass]="{ green: item?.level == '3' }">{{
                          item?.displayLevel
                        }}</span>
                        <input type="radio" checked="checked" disabled name="radio" />
                        <span
                          [ngClass]="{ greenClass: item?.level == '3' }"
                          class="checkmark"
                        ></span>
                      </label>
                    </td>
      
                    <td class="_noWrap">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" title={{item?.fullTitle}}>
                        {{item?.title ? item?.title : "---"}}
                      </span>
                      </td>
                    <td class="pr-0">
                     <span *ngIf="item?.lastModifiedDate"> {{formatTime(item?.lastModifiedDate *1000)}} </span>
                     <span *ngIf="!item?.lastModifiedDate"> -- </span>
                    </td>
                    <td>{{item?.status}}</td>
                    
                    <td style="white-space: nowrap" >
                      <span
                      *ngIf="item?.percentage =='0'"
                        class="greyclass _add_cursor"
                        style="line-height: 15px"
                        routerLink="/main/manager/review-assessment"
                        [queryParams]="{id:item.userAssessmentId}"
      
                        >Pending  </span
                      >
                      <span *ngIf="item?.percentage >'0'"
                    
                        class=" _add_cursor"
                        ><progress-bar routerLink="/main/manager/review-assessment"
                        [queryParams]="{id:item.userAssessmentId}" [progress]="item.percentage" [color]="'#sfc940e'">
                      </progress-bar></span>
                    </td>
                    <td style="white-space: nowrap" class="pl-0">                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
          <!-- <div class="row p-0 m-0 mt-2 mb-3 align-items-center">
              <div class="col"><button class="btn addCandidateBtn " routerLink="/main/admin/add-resource" >+ Add New Resource</button> </div>
              <div class="col-xs" style="margin-right:10px">
                <div class="pagination_custom" *ngIf="resourceList.length > 0">
                  <ul class="d-flex flex-row">
                    <li (click)="prevPage()" [ngClass]="{'disabled_pagination':currentPage  == 0}" > < </li>
                    <li class="show_number"> {{currentPage + 1}} / {{totalPage + 1}} </li>
                    <li (click)="nextPage()" [ngClass]="{'disabled_pagination':currentPage + 1  == totalPage }" > > </li>
                </ul>
              </div>
              </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notemodal let-modal>
  <div class="row card-header card-header-primary">
    <div class="col"><h4 class="tablename">View Notes</h4></div>
  </div>
  <div class="modal-body" style="height: 300px;overflow: auto;">
    <app-no-file *ngIf="noteList.length == 0"></app-no-file>
    <table class="table">
      <tbody>
        <tr class="out_div">
          <td class="_inside_text" style="display: block;" *ngFor="let item of noteList; index as i">{{ item}}</td>
        </tr>
      </tbody>
    </table>

    
  </div>
  <div class="modal-footer">
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        (click)="modal.dismiss('Cross click')"
        class="w-50 btn addCandidateBtn"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
<ng-template #attachmentmodal let-modal>
  <div class="row card-header card-header-primary">
    <div class="col"><h4 class="tablename">View Attachments</h4></div>
  </div>
  <div class="modal-body" style="height: 300px;overflow: auto;">
    <table class="table">
      <app-no-file *ngIf="attachmentList.length == 0"></app-no-file>
      <tbody>
        <tr class="out_div">
          <td class="_inside_text" style="display: block;" *ngFor="let item of attachmentList; index as i">
          <span style="cursor: pointer;" (click)="openwebView(item.url)" > {{ item["name"] }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    
  </div>
  <div class="modal-footer">
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        (click)="modal.dismiss('Cross click')"
        class="w-50 btn addCandidateBtn"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>