span.menu_label {
    margin-left: 20px;
    font-size: 14px;
}

.logo_icon {
     width: 16px;
    height: 16px;
    margin-left: 5px;
    
}


.hd_menu {
    margin-left: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logOut {
    margin-left: 15px;
    cursor: pointer;
    display: block;
    width: 100%;
}
._head_icon {
    margin-top: 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 12px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 0px;
  bottom: 1px;
  background-color: #3d5362;
  -webkit-transition: .4s;
  transition: .4s;
}
.header_name1{
  font-size: 16px;
  color: #3d5362;
  font-weight: 800;
}
input:checked + .slider {
  background-color: #D6B7B5
}

input:focus + .slider {
  box-shadow: 0 0 1px #D6B7B5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.side_bottom_inner {
  font-size: 12px;
  float: right;
  line-height: 28px;
  margin-left: 16px;
}
ul._side_bottom_menu {
  margin-top: 25px;
  margin-left: 18px;
  list-style: none;
  margin-bottom: 100px;
}

.mat-list-item a.selected  {
  background-color: #D6B34D!important;
  color: #ffffff !important ;
 
}
.mat-list-item a {
  color: #777777;
  margin:  0px 10px 0px 10px !important;
}


.hide_scoll {
  overflow-y: hidden;
  height: inherit;
}
.cross {
  position: absolute;
  right: 0;
  color: white;
  background: #0c479d;
  height: 39px;
  width: 38px;
  border-radius: 31px;
  cursor: pointer;
cursor:pointer;
}



.side_logo {
  height: 50px;
  // width: 125px;
}