<div class="col-md-12">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row">
        <div class="col">
          <h4 class="tablename">Edit Company</h4>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/view-company']">Back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <form [formGroup]="managerForm">
        <div class="formout">
          <div class="row">
            <div class="col-xs-3 m-auto">
              <div class="select_cam_profile">
                <img
                  class="profile_inner_"
                  src="{{
                    profilePic ? profilePic : '/assets/images/../../../../../assets/images/undraw_Camera_re_cnp4.png'
                  }}"
                  alt=""
                />

                <img class="uploadPic _add_cursor" src="../../../../../assets/images/photo-camera.svg" alt="" />
                <input
                  type="file"
                  *ngIf="isUploading"
                  class="custom-file-input"
                  id="customFile"
                  (change)="fileChangeEvent($event)"
                />

                <!-- <span>
                      <img class="profile_inner_" src="{{profilePic ? profilePic:'/assets/images/../../../../../assets/images/userhd.png'}}" alt="">
                      <span>
                        <img class="icon_img_profile" src="../../../../../assets/images/photo-camera.svg" alt="">
                        <input type="file" *ngIf="isUploading" class="custom-file-input" id="customFile"    (change)="fileChangeEvent($event)">
                      </span>
                    </span> -->

                <div class="cropper" *ngIf="imageChangedEvent">
                  <h5 class="cropper-title">Crop Image</h5>
                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    cropperMinWidth="100"
                    cropperMinHeight="100"
                    resizeToWidth="100"
                    resizeToHeight="100"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  <button class="btn btn-danger mr-rt-1x mr-2" (click)="cancel()">Cancel</button>
                  <button (click)="save()" class="btn btn-primary ml-2">Save</button>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-12 row m-0 extraMargin">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="First name" />
                  <div
                    *ngIf="
                      managerForm.controls['firstName'].invalid &&
                      (managerForm.controls['firstName'].dirty || managerForm.controls['firstName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['firstName'].errors.required">
                      *First name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" />
                  <div
                    *ngIf="
                      managerForm.controls['lastName'].invalid &&
                      (managerForm.controls['lastName'].dirty || managerForm.controls['lastName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['lastName'].errors.required">
                      *Last name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" />
                  <div
                    *ngIf="
                      managerForm.controls['email'].invalid &&
                      (managerForm.controls['email'].dirty || managerForm.controls['email'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['email'].errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="managerForm.controls['email'].errors.pattern">
                      *Invalid email .
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" class="form-control" formControlName="companyName" placeholder="Company name" />
                  <div
                    *ngIf="
                      managerForm.controls['companyName'].invalid &&
                      (managerForm.controls['companyName'].dirty || managerForm.controls['companyName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['companyName'].errors.required">
                      *Company name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>About Company</label>
                  <input type="text" class="form-control" formControlName="aboutCompany" placeholder="About Company" />
                  <div
                    *ngIf="
                      managerForm.controls['aboutCompany'].invalid &&
                      (managerForm.controls['aboutCompany'].dirty || managerForm.controls['aboutCompany'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['aboutCompany'].errors.required">
                      *About Company is required.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="text"
                    (focusout)="validateEmail()"
                    [ngClass]="{ invalid_: isVerified == false }"
                    class="form-control"
                    formControlName="email"
                    placeholder="Enter email"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['email'].invalid &&
                      (managerForm.controls['email'].dirty || managerForm.controls['email'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['email'].errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="managerForm.controls['email'].errors.pattern">
                      *Invalid email .
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="Address" />
                  <div
                    *ngIf="
                      managerForm.controls['address'].invalid &&
                      (managerForm.controls['address'].dirty || managerForm.controls['address'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['address'].errors.required">
                      *Address is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="exampleSelect1">Industry</label>
                  <select
                    [(ngModel)]="indId"
                    formControlName="industryTypeId"
                    class="form-control-select selectt"
                    id="exampleSelect1"
                  >
                    <option value="">Select Industry </option>
                    <option *ngFor="let item of industryDetail" [value]="item.industryTypeId">{{
                      item.industryType
                    }}</option>
                  </select>
                  <div
                    *ngIf="
                      managerForm.controls['industryTypeId'].invalid &&
                      (managerForm.controls['industryTypeId'].dirty || managerForm.controls['industryTypeId'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['industryTypeId'].errors.required">
                      *Industry is required.
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label>Revenue</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="revenue"
                    (keypress)="onlyNumberKey($event)"
                    placeholder="revenue"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['revenue'].invalid &&
                      (managerForm.controls['revenue'].dirty || managerForm.controls['revenue'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <!-- <div
                          *ngIf="
                            managerForm.controls['mobile_format'].errors.required
                          "
                        >
                          *Phone number is required.
                        </div> -->
                    <div *ngIf="managerForm.controls['revenue'].errors.minlength">
                      *Invalid Revenue.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row col-md-12 m-0 p-0">
           

            
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
              <button
                class="btn w-30 addCandidateBtn"
                [disabled]="!managerForm.valid"
                (click)="updateCompany(managerForm.value)"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
