@import "../../../../assets/styles/variable.scss" ;


.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $dark-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $dark-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $dark-blue;
font-size: 15px;
font-weight: bold;
}



.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 6px 38px 7px 38px;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}



.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;

}

.coverImg {
    height: 36px;
    width: 58px;

}

@media(max-width:768px ){
    .btn {
        padding:9px;
        font-size: 13px;
    }
    .pagination_custom li {
        padding:7px
    }
}




td {
    font-size: 12px;
}

textarea {
    resize: none;
 }
.table_draft {
    font-size: 13px;
}


// 



.main { 
    //display: block;
    position: relative;

}

  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    /* background-color: #c7c7c7; */
    border: 1px solid grey;
} 
  
/* Specify the background color to be 
shown when hovering over checkbox */ 
// .main:hover input ~ .geekmark { 
//     background-color: #c7c7c7; 
// } 
  

/* Specify the background color to be 
shown when checkbox is checked */ 
// .main input:checked ~ .geekmark { 
//     background-color: #0c479d;
// } 
  
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.main .geekmark:after { 
    left: 5px;
    bottom: 3px;
    width: 8px;
    height: 14px;
    border: solid #0c479d;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} 

._modal_text {
    color: #0C479D;
    font-size: 16px;
    font-weight: bold;
}
// 
.custom-file-label {
    height: calc(8.1em + 0.75rem + 2px);
    background: rgb(238, 238, 238);
    border:none;
}
.custom-file-input {
    height: calc(5em + .75rem + 2px);
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;

    text-align: center;
    z-index: 3;
    display: block;
    height:100%;
    padding: .375rem .75rem;
    line-height: 106px;
    color: #404448;
    content: "Browse";
    background-color: #d6d6d6;
    border-left: inherit;
    border-radius: 6px;
}
.editbtn {
    font-size: 15px;
}
.observe {
    height: 19px;
    margin-right: 7px;
    cursor: pointer;
}
.observe1 {
    height: 19px;
    margin-right: 7px;
}

.custom-file {
    position: relative;
    background-color: #eeeeee;
    height: 128px;
    padding: 10px;
    margin-top: -1px;
    border-radius: 8px;
    background-color: #eeeeee;
}
.geekmark.approved_status {
    background-color: #b0ffb0;
}
.geekmark.rejected_status {
    background-color: #ff8383;
}

.textclass {
    font-size: 14px;
    background-color: #eeeeee;
    border: none;
    height: 130px;
    margin: 5px 25px 25px 25px;
    margin:25px;
    padding:10px;
    border-radius: 8px;
}
.disableImg {
    opacity: .3;
    pointer-events: none;
}
.download {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 15px;
}