<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="row card-header card-header-primary align-items-center">
      <div class="col">
        <h4 class="tablename">Assessment {{assementdetail?.tracklist}} {{assementdetail?.level}}</h4>
      </div>
      <div class="col text-right">
        <button class="btn discardBtn" (click)="navBack()">Back</button>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <div class="table-responsive">
<table class="table">
          <thead class="tableheading">
            <tr>
              <th  style="white-space: nowrap;">Skills</th>
              <th class="text-center">Basic</th>
              <th class="text-center">Intermediate</th>
              <th class="text-center">Mastered</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of assementList;index as i">
           <td >{{data.name}} <img class="info" *ngIf="data.description" src="../../../../../assets/images/information-button.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ data?.description }}"></td>
           <td class="text-center">
            <!-- <div class="custom-control custom-checkbox mb-3">
            <input [(ngModel)]="data.basic" type="checkbox"  >
          </div> -->
            <label
              class="main"
              [class.disabled_checkbox]="data.isBasicD == true"
            >
              <input
                (change)="basicChange(i, data.basic)"
                type="checkbox"
                disabled
                [(ngModel)]="data.basic"
                checked="checked"
              />
              <span
                class="geekmark"
                [class.approved_status]="data.isBasicCL == true"></span>
            </label>
          </td>
          <td class="text-center">
            <!-- <input type="checkbox" [(ngModel)]="data.intermediate" (click)="changedVal()"> -->
            <label
              class="main"
              [class.disabled_checkbox]="data.isInterD == true"
            >
              <input
                (change)="intermediateChange(i, data.intermediate)"
                type="checkbox"
                [(ngModel)]="data.intermediate"
                checked="checked"
                disabled
              />
              <span
                class="geekmark"
                [class.approved_status]="data.isInterCL == true"
              ></span>
            </label>
          </td>
          <td class="text-center">
            <!-- <input type="checkbox" [(ngModel)]="data.mastered" (click)="changedVal()"> -->

            <label
              class="main"
              [class.disabled_checkbox]="
              data.isMasterD == true && (data.isInterD == true || data.isBasicD == true)
              "
            >
              <input
                (change)="masteredChange(i, data.mastered)"
                type="checkbox"
                [(ngModel)]="data.mastered"
                checked="checked"
                disabled
              />
              <span
                class="geekmark"

                [class.approved_status]="
                  data.skillLevel == 'mastered' && data.status == 'approved'
                "
                [class.rejected_status]="
                  data.skillLevel == 'mastered' && data.status == 'rejected'
                "
              ></span>
            </label>
          </td>

            <td  class="pl-0 pr-0" style="width: 30px;">
              <img *ngIf="data?.status !=='underObservation'" [ngClass]="{'disableImg': data.skillLevel !== 'mastered' || data.status !== 'submitted'}"  #statusBtn class="observe" (click)="underObservation(data)"  src="../../../../assets/images/observation_no_fill.svg" alt="" data-toggle="tooltip" data-placement="top" title="Under observation">
              <img *ngIf="data?.status =='underObservation'" #statusBtn  src="../../../../assets/images/observation_fill.svg" [ngClass]="{'disableImg': data.skillLevel !== 'mastered'}" class="observe1" alt="" data-toggle="tooltip" data-placement="top" title="Under observation">
            </td>
            
            <td  class="pl-0 pr-0" style="width: 30px;">
              <img #statusBtn class="observe" [ngClass]="{'disableImg': data.skillLevel !== 'mastered' || data.status == 'rejected' || data.status == 'approved' }" (click)="AcceptModalOpen(data,accpet,statusBtn)"  src="../../../../assets/images/tick-mark.png" alt="" data-toggle="tooltip" data-placement="top" title="Approve Skill">
            </td>
            <td  class="pl-0 pr-0" style="width: 30px;">
              <img #statusBtn1 class="observe" [ngClass]="{'disableImg': data.skillLevel !== 'mastered' || data.status == 'rejected' || data.status == 'approved'  }" (click)="RejectModalOpen(data,reject,statusBtn1)"  src="../../../../assets/images/remove.png" alt="" data-toggle="tooltip" data-placement="top" title="Reject Skill">
            </td>
            <td class="pl-0 pr-0">
              <img  #statusBtn2 class="_add_cursor imgaudit"  (click)="HistoryModalOpen(data,history,statusBtn2)"  src="../../../../assets/images/history (2).png" alt="" data-toggle="tooltip" data-placement="top" title="Audit Logs">
              <img *ngIf="data?.resourceListData.length == 0" #resournBtn class="imgaudit ml-2"  style="cursor: pointer; opacity: 0.2;" src="../../../../assets/images/Resources_icon.svg" alt="" title="Resource">
              <img *ngIf="data?.resourceListData.length > 0" #resournBtn class="imgaudit ml-2" (click)="ResourceModalOpen(data.resourceListData, resource, resournBtn)" style="cursor: pointer;" src="../../../../assets/images/Resources_icon.svg" alt="" title="Resource">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<div class="row" *ngIf="assementList?.length > 0">
<!-- <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner> -->
<div class="col-sm-12 col-md-6">
    <div class="form-group position-relative" >
      <label>Employee notes</label> <br />
      <textarea
        [(ngModel)]="assementdetail.notes"
        id=""
        cols="20"
 
        rows="4"
        class="w-100"
        placeholder="Type here..."
        readonly
        style="
          font-size: 14px;
          background-color: #EEEEEE;
          border: none;
          height: 130px;
          padding: 10px;
          border-radius: 8px;
        "
      ></textarea>
  </div>
</div>
<div class="col-sm-12 col-md-6"  *ngIf="attachmentData" style="height: 200px;">
  <div
  class="form-group position-relative m-0"
  style="padding: 2px"
>
  <label>Employee attachment</label> <br />
  <div class="custom-file">
    <div class="row justify-content-between p-3" >
      <p class="disabled" style="font-size: 14px;opacity: .8;">{{attachmentData?.name}}</p>
      <img  src="../../../../assets/images/pdf-file.png" style="cursor: pointer;" (click)="openwebView(attachmentData.url)">
    </div>
  </div>
</div>
</div>
<!-- <button *ngIf="isEdit == false" class="btn ml-3 addCandidateBtn" (click)="backNav()">Back</button> -->
<!-- <button class="btn  addCandidateBtn "></button> -->
</div>
<div class="row" *ngIf="assementList?.length > 0" >
<div class="col-sm-12 col-md-6">
    <div class="form-group position-relative">
      <label>Manager notes</label> <br />
      <textarea
        [(ngModel)]="noteText"
        id=""
        cols="20"
        rows="4"
        class="w-100"
        placeholder="Type here..."
        style="
          font-size: 14px;
          background-color: #EEEEEE;
          border: none;
          height: 130px;
          padding: 10px;
          border-radius: 8px;
        "
      ></textarea>
  </div>
</div>
<div class="col-sm-12 col-md-6" style="height: 200px;">
  <div
  class="form-group position-relative m-0"
  style="padding: 2px"
>

  <label>Manager attachment </label><img *ngIf="attachments.length !== 0" style="cursor: pointer;" (click)="openwebView(attachments[0].url)" class="float-right download" src="../../../../assets/images/direct-download.png">  <br />
  <div class="custom-file">
    <input
      type="file"
      accept="application/pdf"
      (change)="uploadAttachment($event)"
      class="custom-file-input"
      id="demo"
    />
    <label
      class="custom-file-label image-label-hide"
      for="mediashot"
      >{{   attachments[0]?.name }}</label
    >
  </div>
</div>
</div>
<!-- <button class="btn ml-3 addCandidateBtn" (click)="backNav()">Back</button> -->
<button class="btn ml-3 addCandidateBtn" (click)="submitData()">Submit</button>
<!-- <button class="btn  addCandidateBtn "></button> -->
</div>
  </div>
</div>
</div>
<ng-template #accpet let-modal>
<div class="modal-body">
  <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
  <div class="mt-3 col-md-12 m-0 p-0">
   <p class="_modal_text">Are you sure?</p>
   <p class="_modal_text"> You want to accept this skill !</p>
  </div>
  <div class="row mt-2">
    <textarea
    [(ngModel)]="remarkText"
    id=""
    cols="20"
    rows="4"
    class="w-100 textclass"
    placeholder="Type Remarks..."
  ></textarea>
  </div>
  <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
   <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn"  (click)="markedskillApprove()" > Yes</button>
  </div>
  <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
    <button style="background-color: #0C479D;" (click)="closeModal()" class="w-50 btn addCandidateBtn"> No</button>
   </div>
</div>
</ng-template>
<ng-template #reject let-modal>
<div class="modal-body">
  <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
  <div class="mt-3 col-md-12 m-0 p-0">
   <p class="_modal_text">Are you sure ?</p>
   <p class="_modal_text"> You want to reject the skill !</p>
  </div>
  <div class="row mt-2">
    <textarea
    [(ngModel)]="remarkText"
    id=""
    cols="20"
    rows="4"
    class="w-100 textclass"
    placeholder="Type Remarks..."
  ></textarea>
  </div>
  <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
   <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn"  (click)="markedskillReject()" > Yes</button>
  </div>
  <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
    <button style="background-color: #0C479D;" (click)="closeModal()" class="w-50 btn addCandidateBtn"> No</button>
   </div>
</div>
</ng-template>
<ng-template #history let-modal>
<div class="row card-header card-header-primary align-items-center">
  <div class="col"><h4 class="tablename">{{skillDetail?.name}} History</h4></div>
</div>
<div class="modal-body">
  <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
  <div class="table-responsive">
<div class="m-0">
<app-no-file *ngIf="auditHistory.length <= 0"></app-no-file>
</div>
            <table *ngIf="auditHistory.length > 0" class="table">
              <thead class="tableheading">
                <tr>
                  <th class="">Date</th>
                  <th  style="white-space: nowrap;">Name</th>
                  <th class="">Profile Pic</th>
                  <th class="">Status</th>
                  <th class="">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of auditHistory;index as i">
                 <td><span> {{formatTime(data?.insertDate *1000)}} </span></td>
               <td >{{data?.managerFirstName || 'Admin'}} {{data?.managerLastName}} </td>
               <td><img class="profilePic ml-3" [src]="data.managerProfilePic?data.managerProfilePic:'../.../../../../../../assets/images/userhd.png'"/></td>
               <td >{{data?.status}} </td>
               <td >{{data?.remarks?data.remarks:'--'}} </td>
              </tr>
            </tbody>
          </table>
        </div>
  <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
    <button style="background-color: #0C479D;" (click)="closeModal()" class="w-25 btn addCandidateBtn"> Close</button>
   </div>
</div>
</ng-template>
<ng-template #resource let-modal>
  <div class="row card-header card-header-primary align-items-center">
    <div class="col">
      <h4 class="tablename">Resource List</h4>
    </div>
   
  </div>
  <div class="modal-body" style="height: 400ps; overflow: auto;">

    <div class="m-0">
      <app-no-file *ngIf="resourceList.length <= 0"></app-no-file>
    </div>
    <div class="card table_outer">
      <div class="card-body">
        <div class="table-responsive">
          <!-- <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner> -->
          <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
          <table *ngIf="resourceList?.length > 0" class="table">
            <thead class="tableheading">
              <tr>
                <!-- <th scope="col">Category</th> -->
                <th scope="col">Title</th>
                <th scope="col">Attachment</th>
                <th scope="col">URL</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resourceList">
                <!-- <td>{{ item?.category ? item?.category : "---" }}</td> -->
                <td class="_noWrap">
                  <span
                  
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="{{ item?.fullTitle }}"
                  >
                    {{ item?.title ? item?.title : "---" }}
                  </span>
                </td>
                <td>
                  <a *ngIf="item.attachment[0] !== ''"
                    ><img
                      class="pdfImg"
                      (click)="openwebView(item.attachment[0])"
                      src="../../../../../assets/images/pdf.png"
                  /></a>
                  <a *ngIf="item.attachment[0] == ''"> --</a>
                </td>
                <td>
                  <a
                    target="_blank"
                    (click)="openwebView(item.url)"
                    
                    >{{ item?.url ? item?.url : "---" }}</a
                  >
                </td>

                <td >
                  <span *ngIf="item?.descriptionDispt !== ''  || item?.description !== ''"
                    
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="{{ item.description }}"
                  >
                    {{
                      item?.descriptionDispt
                        ? item?.descriptionDispt
                        : item?.description
                    }}</span

                  >
                  <span  *ngIf="item?.descriptionDispt == '' || item?.description == ''">---</span>
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        (click)="closeModal()"
        class="w-25 btn addCandidateBtn"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

