<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <h4 class="tablename">Employees List</h4>
      <p class="tablesubname">All employees</p>
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-no-file *ngIf="managerList.length <= 0"></app-no-file>
        <table *ngIf="managerList.length > 0" class="table">
          <thead class="tableheading">
            <tr>
              <th scope="col">Profile</th>
              <th scope="col " class="_noWrap">Name</th>
              <th scope="col">Email</th>
              <!-- <th scope="col" class="_noWrap">Phone Number</th> -->
              <th scope="col">Title</th>
              <th class="_noWrap">Current Level</th>

              <th scope="col"></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of managerList">
              <td>
                <img
                  class="profilePic"
                  [src]="
                    list.profilePic
                      ? list.profilePic
                      : '../.../../../../../../assets/images/userhd.png'
                  "
                />
              </td>
              <td style="white-space: nowrap">
                {{ list?.firstName }} {{ list?.lastName }}
              </td>
              <td>{{ list?.email }}</td>

              <!-- <td class="_noWrap" [innerHTML]="_mobileFormat(list?.mobile)">{{list?.mobile}}</td> -->
              <td class="_noWrap">
                <span
                  style="cursor: pointer;"
              
                  data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.fullTitle}}
                >
                  {{ list?.title }}
                </span>
              </td>

              <td>
                <label class="container" style="display:inherit">
                  <span class="orange">{{ list?.levelDisplayC }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    class="noaction"
                    name="radio"
                  />
                  <span
                    class="checkmark"
                    [ngClass]="{
                      orangeClass: list?.clientCareLevel !== 0
                    }"
                  ></span>
                </label>
                <label class="container" style="display:inherit">
                  <span class="blue">{{ list?.levelDisplayT }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    class="noaction"
                    name="radio"
                  />
                  <span
                    class="checkmark"
                    [ngClass]="{ blueClass: list?.patientCareLevel !== 0 }"
                  ></span>
                </label>
                <label class="container" style="display:inherit" >
                  <span class="green">{{ list?.levelDisplayL }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    class="noaction"
                    name="radio"
                  />
                  <span
                    class="checkmark"
                    [ngClass]="{ greenClass: list?.leadershipLevel !== 0 }"
                  ></span>
                </label>
              </td>

              <td class="_noWrap">
                <span
                  class="print _add_cursor"
                  style="line-height: 15px"
                  #DeleteBtn
                  (click)="openModal(list.userId, modaldelete, DeleteBtn)"
                  >View Assessment</span
                >
              </td>
              <td class="_noWrap" style="width: 12pc">
                <span
                  class="suspendclass _add_cursor"
                  style="line-height: 15px"
                  [queryParams]="{ id: list.userId }"
                  routerLink="/main/manager/view-profile"
                  >View Profile</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-0 m-0 mt-2 mb-3 align-items-center" *ngIf="managerList.length > 0">
      <div  class="pagLimitSet">
        <select class="pagLimitSet_selecet" (change)="changePageLimit()"  [(ngModel)]="pagelimit">
          <option  value="5">5</option>
          <option  value="10">10</option>
          <option  value="20">20</option>
          <option  value="50">50</option>
          <option  value="100">100</option>
        </select>
       
      </div>
          <div class="col" style="margin-right:10px">
            <div class="pagination_custom" *ngIf="managerList.length > 0" >
              <ul class="d-flex flex-row">
                <li (click)="prevPage()" [ngClass]="{'disabled_pagination':currentPage  == 0}" > < </li>
                <li class="show_number"> {{currentPage + 1}} / {{totalPage}} </li>
                <li (click)="nextPage()" [ngClass]="{'disabled_pagination':currentPage + 1  == totalPage }" > > </li>
            </ul>
          </div>
          </div>
    </div>
  </div>

  <ng-template #modaldelete let-modal>
    <div class="modal-body">
      <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
      <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
        <p class="_modal_text">View Assessment</p>
      </div>
      <div class="view">
        <ul>
          <li
            class="nodata"
            style="font-size: 13px"
            *ngIf="assessmenList.length == 0"
          >
            No Assessment Available
          </li>
          <li
            *ngFor="let item of assessmenList"
            class="row justify-content-between align-items-center"
          >
            <span> {{ item.tracklist }} {{ item.level }}</span>
            <span
              [queryParams]="{ id: item.userAssessmentId }"
              (click)="modal.close('Save click')"
              [routerLink]="['/main/manager/review-assessment']"
              class="viewbtn"
              >View</span
            >
          </li>
        </ul>
      </div>
      <div
        class="modal-footer"
        class="border-top-0 float-right"
        style="margin-right: 15px"
      >
        <button
          type="button"
          class="btn btn-outline-danger rounded"
          (click)="modal.close('Save click')"
        >
          Close
        </button>
      </div>
    </div>
  </ng-template>
</div>
