<div class="col-md-12 pt-3 p-0">
  <div class=" row col-md-12 mt-3">
    <div class="col-md-3">
      <mat-form-field class="example-full-width mat-form w-100">
        <input matInput placeholder="Enter Company Name" [(ngModel)]="searchName" />
      </mat-form-field>
    </div>
    <div class="col">
      <button class="btn discardBtn mb-2 " (click)="searchFiltersBtn()">Search</button>
      <button class=" btn discardBtn_red ml-1 mb-2" (click)="onReset()">Reset</button>
    </div>
  </div>

  <div class="card table_outer">
    <div class="row card-header card-header-primary align-items-center">
      <div class="col">
        <h4 class="tablename">Post List</h4>
      </div>
      <!-- <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/add-company']" #statusBtn>
            Add New Company
          </button>
        </div> -->

      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-no-file></app-no-file>
        <table class="table">
          <thead class="tableheading">
            <tr>
              <th style="white-space: nowrap;" scope="col">First Name</th>
              <th style="white-space: nowrap;" scope="col">Company Name</th>
              <th scope="col">Status</th>
              <th style="white-space: nowrap;" scope="col">Company Industry Type</th>
              <th style="white-space: nowrap;" scope="col">Investment Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Actions</th>

              <!-- <th scope="col">aboutCompany</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of companyDetail">
              <td scope="col">{{ item?.companyFirstName }}</td>
              <td scope="col">{{ item?.companyName }}</td>
              <td scope="col">{{ item?.status }}</td>
              <td scope="col">{{ item?.companyIndustryType }}</td>
              <td scope="col">{{ item?.investmentType }}</td>
              <td scope="col">${{ item?.amount }}</td>

              <!-- <td scope="col">{{ item?.aboutCompany }}</td> -->

              <td scope="col _noWrap">
                <span>
                  <img
                    src="../../../../assets/images/change.png"
                    #statusBtn
                    (click)="updateUserStatusModal(item, updateStatus, statusBtn)"
                    style="cursor:pointer;height:15px;margin-right:2px"
                  />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-0 m-0 mt-2 mb-3 align-items-center">
      <!-- <div class="col"><button class="btn addCandidateBtn " routerLink="/main/admin/add-employee" >+ Add New Employee</button> </div> -->
      <div class="col" style="margin-right:10px">
        <div class="pagination_custom">
          <ul class="d-flex flex-row">
            <li (click)="prevPage()" [ngClass]="{ disabled_pagination: currentPage == 0 }"><</li>
            <li class="show_number">{{ currentPage + 1 }} / {{ totalPage }}</li>
            <li (click)="nextPage()" [ngClass]="{ disabled_pagination: currentPage + 1 == totalPage }">></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #resource let-modal>
  <div class="row card-header card-header-primary align-items-center">
    <div class="col">
      <h4 class="tablename">Resource List</h4>
    </div>
  </div>
  <div class="modal-body" style="height: 400ps; overflow: auto;">
    <div class="m-0">
      <app-no-file></app-no-file>
    </div>
    <div class="card table_outer">
      <div class="card-body">
        <div class="table-responsive">
          <!-- <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner> -->
          <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
          <table class="table">
            <thead class="tableheading">
              <tr>
                <!-- <th scope="col">Category</th> -->
                <th scope="col">Title</th>
                <th scope="col">Attachment</th>
                <th scope="col">URL</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resourceArray">
                <!-- <td>{{ item?.category ? item?.category : "---" }}</td> -->
                <td class="_noWrap">
                  <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item?.fullTitle }}">
                    {{ item?.title ? item?.title : "---" }}
                  </span>
                </td>
                <td>
                  <a *ngIf="item.attachment[0] !== ''"
                    ><img
                      class="pdfImg"
                      (click)="openwebView(item.attachment[0])"
                      src="../../../../../assets/images/pdf.png"
                  /></a>
                  <a *ngIf="item.attachment[0] == ''"> --</a>
                </td>
                <td>
                  <a *ngIf="item.url == ''"> --</a>
                  <a *ngIf="item.url !== ''" target="_blank" (click)="openwebView(item.url)"
                    ><img
                      style="cursor: pointer;"
                      class="pdfImg"
                      src="../.../../../../../../assets/images/website.png"
                      alt=""
                  /></a>
                </td>

                <td>
                  <span
                    *ngIf="item?.descriptionDispt !== '' || item?.description !== ''"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="{{ item.description }}"
                  >
                    {{ item?.descriptionDispt ? item?.descriptionDispt : item?.description }}</span
                  >
                  <span *ngIf="item?.descriptionDispt == '' || item?.description == ''">---</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0c479d" (click)="closeModal()" class="w-25 btn addCandidateBtn">
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #updateStatus let-modal>
  <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span>Update Company status</span>
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="statusForm" novalidate>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Existing Status</label>
                  <div>
                    <input type="text" [disabled]="true" value="{{ rowDetail.status }}" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label
                    >New Status
                    <span class="required-sign">*</span>
                  </label>
                  <div>
                    <select
                      class="form-control"
                      formControlName="status"
                      [ngClass]="{
                        'error-border': statusFormSubmitted && statusForm.controls.status.errors
                      }"
                    >
                      <option value="" disabled selected hidden>Select</option>
                      <option value="{{ item.id }}" *ngFor="let item of statusList">{{ item.name }}</option>
                    </select>
                    <div *ngIf="statusFormSubmitted && statusForm.controls.status.errors" class="error-wrappers">
                      <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.status.errors.required"
                        >Required Field
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="statusForm.controls.status.value == 'rejected'" class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Reason of Rejection</label>
                  <div>
                    <input type="text" formControlName="reasonForRejection" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success rounded" (click)="updateUserStatus()">
      Save Changes
    </button>
    <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>
