.nav-tabs .nav-link {
    font-size: 15px;
    width: 300px;
}
.nav-link .active,
  .nav-item.shows{
    color: #fffffd;
    background-color: #0c479d!important;
    width: 300px;
    text-transform: capitalize;
    border-color: #dee2;
  }
.nav-link a {
  background:red!important;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  background: #bbbbbb4a;
  text-align: center;
  /* color: white; */
}
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #0c479de0;
  border-color: #dee2e6 #dee2e6 #fff;
}
a {
  color: #504e4e;
  text-decoration: none;
  background-color: transparent;
}
.nav-link:hover {
  background: #d6d6d6;
  border-radius: 38px;
}