
    <section class="right-panel-wrapper mt-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="skill" routerLinkActive="active"
              >Skills</a
            >
          </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="facility" routerLinkActive="active"
             >Facility</a
           >
         </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="category" routerLinkActive="active"
            >Category </a
          >
        </li>
    
        </ul>
        <!-- Tab panes -->
        <router-outlet></router-outlet>
      </section>

 