.image {
  height: 80px;
  width: 80px;
  border-radius: 42px;
  margin:auto;
}
h2:empty, h3:empty, .h4:empty, h5:empty, p:empty, a:empty, .image:empty, .btn:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
  text-align:center;
}

.btn:empty {
  height: 40px;
}


ul {
  list-style-type: none;
}

img:empty.card-img-top{
  min-height: 189.75px;
}

h2:empty{
  height: 38px;
  width: 200px;
}

h3:empty {
  height: 22px;
  width: 200px;
}
h5:empty{
  height: 30px;
  width: 100%;
  text-align: center;
}

a:empty{
    width: 100px;
    height: 40px;
    border: 0;
}
h4:empty {
  height: 18px;
  width: 200px;
}

p:empty {
  height: 18px;
  width: 100%;
} 
p:empty.lead {
  height: 30px;
  width: 100%;
}
@keyframes loading {
0% {
background-position: -100px;
}

100% {
background-position: 200px;
}
}
@media (max-width: 576px) { 
.sm-text-center {
  text-align: center;
}
h5:empty{
  width: 100%;
} 
p:empty.card-text{
  width: 100%;
}
.sm-mr-auto{margin-right:auto!important}
.sm-ml-auto{margin-left:auto!important}
}
@media (max-width: 420px) { 
.col-xxs-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
h5:empty{
  width: 100%;
}
p:empty.card-text{
  width: 100%;
}
}