<div class="col-md-12 pt-3 p-0">
  <div class=" row col-md-12 mt-3">
    <div class="col-md-3">
      <mat-form-field class="example-full-width mat-form w-100">
        <input matInput placeholder="Enter Name" [(ngModel)]="searchName" />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="example-full-width mat-form w-100">
        <input matInput placeholder="Enter Email" [(ngModel)]="searchEmail" />
      </mat-form-field>
    </div>
    <div class="col">
      <button class="btn discardBtn mb-2 " (click)="searchFiltersBtn()">Search</button>
      <button class=" btn discardBtn_red ml-1 mb-2" (click)="onReset()">Reset</button>
    </div>
  </div>
  <div class="card table_outer">
    <div class="row card-header card-header-primary align-items-center">
      <div class="col">
        <h4 class="tablename">Users List</h4>
      </div>
      <div class="col text-right">
        <button class="btn discardBtn" [routerLink]="['/main/admin/add-user']" #statusBtn>
          Add New User
        </button>
      </div>

      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-no-file></app-no-file>
        <table class="table">
          <thead class="tableheading">
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <!-- <th scope="col">Address</th>
              <th scope="col">Profile Pic</th> -->
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userDetail">
              <td scope="col">{{ item?.firstName }}</td>
              <td scope="col">{{ item?.lastName }}</td>
              <td scope="col">{{ item?.email }}</td>
              <!-- <td scope="col">{{ item?.address }}</td>
              <td scope="col"><img *ngIf="item.profilePic" src="{{ item?.profilePic }}" alt="" /> <span *ngIf="!item.profilePic">--</span></td> -->
              <!-- <td scope="col">{{ item.address }}</td> -->
              <!-- <td scope="col">{{ item.userType }}</td>
              <td scope="col">{{ item?.deviceType ? item.deviceType : "--" }}</td> -->

              <td scope="col _noWrap">
                <span>
                  <img
                    class="editImg mr-1 _add_cursor"
                    #statusBtn
                    style="height: 16px; margin-right: 3px; cursor: pointer"
                    [routerLink]="['/main/admin/edit-user']"
                    [queryParams]="{ id: item.userId }"
                    src="../../../../../assets/images/edit.svg"
                    alt=""
                  />
                </span>
                <span
                  ><img
                    class="editImg ml-1 _add_cursor"
                    src="../../../../../assets/images/delete.svg"
                    (click)="removeUser(item.userId)"
                    style="height: 16px; margin-right: 3px; cursor: pointer"
                /></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-0 m-0 mt-2 mb-3 align-items-center">
      <!-- <div class="col"><button class="btn addCandidateBtn " routerLink="/main/admin/add-employee" >+ Add New Employee</button> </div> -->
      <div class="col" style="margin-right:10px">
        <div class="pagination_custom">
          <ul class="d-flex flex-row">
            <li (click)="prevPage()" [ngClass]="{ disabled_pagination: currentPage == 0 }"><</li>
            <li class="show_number">{{ currentPage + 1 }} / {{ totalPage }}</li>
            <li (click)="nextPage()" [ngClass]="{ disabled_pagination: currentPage + 1 == totalPage }">></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #updateStatus let-modal>
  <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span class="fontSize">{{ title }}</span>
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="modalForm" novalidate>
            <div class="row">
              <div class="col position-relative">
                <mat-form-field class="example-full-width w-100 fontSize">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Skill" formControlName="name" />
                </mat-form-field>
                <div *ngIf="modalForm?.controls.name.errors && modalForm?.get('name')?.touched" class="error-wrappers">
                  <span class="errorinput" style="top:50px" *ngIf="modalForm.controls.name.errors.required"
                    >*name is required</span
                  >
                </div>
              </div>
            </div>

            <!-- <div class="position-relative mt-2">
                <mat-form-field class="example-full-width w-100 fontSize">
                  <mat-label>Category</mat-label>
                  <input
                    matInput
                    placeholder="Category Name"
                    type="text"
                    formControlName="category"
                  />
                </mat-form-field>
                <div
                  *ngIf="
                    modalForm?.controls.category.errors &&
                    modalForm?.get('category')?.touched
                  "
                  class="error-wrappers"
                 
                >
                  <span
                    class="errorinput" style="top:50px"
                    *ngIf="modalForm.controls.category.errors.required"
                    >*category is required</span
                  >
                </div>
              </div> -->

            <div *ngIf="isChange == false" class="col-sm-12 col-md-12 p-0">
              <div class="form-group">
                <label for="exampleSelect1">Category</label>
                <select
                  (change)="changeToInput()"
                  formControlName="category"
                  class="form-control-select selectt"
                  id="exampleSelect1"
                >
                  <option value="" selected>Select Category</option>
                  <option *ngFor="let item of categoryList" [value]="item.category" style="text-transform: capitalize">
                    {{ item.category }}
                  </option>
                  <option value="other">Other</option>
                </select>
                <div
                  *ngIf="
                    modalForm.controls['category'].invalid &&
                    (modalForm.controls['category'].dirty || modalForm.controls['category'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="modalForm.controls['category'].errors.required">
                    *Category is required.
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="isChange == true" class="col-sm-12 col-md-12 p-0">
              <div class="form-group position-relative">
                <label>Other</label>
                <input
                  id="input"
                  formControlName="category"
                  type="text"
                  class="form-control pr-5 position-relative"
                  placeholder="Enter other"
                />
                <span class="cancelImg position-absolute"
                  ><img
                    (click)="cancelInput()"
                    src="../../../../../assets/images/close.png"
                    style="height:11px;width: 11px;"
                /></span>
                <div
                  *ngIf="
                    modalForm.controls['category'].invalid &&
                    (modalForm.controls['category'].dirty || modalForm.controls['category'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="modalForm.controls['category'].errors.required">
                    *Other is required.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 m-0 p-0">
              <div class="form-group">
                <label>Resource</label>
                <angular2-multiselect
                  [data]="resourceDropDownFinal"
                  [settings]="settings1"
                  [(ngModel)]="selectedItems1"
                  [ngModelOptions]="{ standalone: true }"
                  (onSelect)="onItemSelect1($event)"
                  (onDeSelect)="OnItemDeSelect1($event)"
                  (onSelectAll)="onSelectAll1($event)"
                  (onDeSelectAll)="onDeSelectAll1($event)"
                  (onDropDownClose)="onDropDownClose1()"
                >
                </angular2-multiselect>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="skill">
                  <ul>
                    <li *ngFor="let item of resourceList; index as i">
                      <span> {{ i + 1 }}. </span> <span>{{ item["title"] }}</span>
                      <span
                        ><img
                          class="delete_ass _add_cursor"
                          src="../../../../../assets/images/delete.svg"
                          (click)="deleteItem1(item.title, i)"
                          alt=""
                      /></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 p-0">
              <div class="form-group position-relative">
                <label>Description</label> <br />
                <textarea
                  name=""
                  formControlName="description"
                  id=""
                  cols="20"
                  rows="4"
                  class="w-100"
                  maxlength="500"
                  placeholder="Type here..."
                  style="
                      font-size: 14px;
                      background-color: #eeeeee;
                      border: none;
                      height: 130px;
                      padding: 10px;
                      border-radius: 8px;
                    "
                ></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="title == 'Add Skill'"
      type="button"
      class="btn btn-outline-success rounded"
      [ngClass]="{ disabled: !modalForm.valid }"
      (click)="save()"
    >
      Save
    </button>
    <button
      *ngIf="title == 'Edit Skill'"
      type="button"
      class="btn btn-outline-success rounded"
      [ngClass]="{ disabled: !modalForm.valid }"
      (click)="editSkill()"
    >
      Update
    </button>
    <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>

<ng-template #resource let-modal>
  <div class="row card-header card-header-primary align-items-center">
    <div class="col">
      <h4 class="tablename">Resource List</h4>
    </div>
  </div>
  <div class="modal-body" style="height: 400ps; overflow: auto;">
    <div class="m-0">
      <app-no-file></app-no-file>
    </div>
    <div class="card table_outer">
      <div class="card-body">
        <div class="table-responsive">
          <!-- <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner> -->
          <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
          <table class="table">
            <thead class="tableheading">
              <tr>
                <!-- <th scope="col">Category</th> -->
                <th scope="col">Title</th>
                <th scope="col">Attachment</th>
                <th scope="col">URL</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resourceArray">
                <!-- <td>{{ item?.category ? item?.category : "---" }}</td> -->
                <td class="_noWrap">
                  <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item?.fullTitle }}">
                    {{ item?.title ? item?.title : "---" }}
                  </span>
                </td>
                <td>
                  <a *ngIf="item.attachment[0] !== ''"
                    ><img
                      class="pdfImg"
                      (click)="openwebView(item.attachment[0])"
                      src="../../../../../assets/images/pdf.png"
                  /></a>
                  <a *ngIf="item.attachment[0] == ''"> --</a>
                </td>
                <td>
                  <a *ngIf="item.url == ''"> --</a>
                  <a *ngIf="item.url !== ''" target="_blank" (click)="openwebView(item.url)"
                    ><img
                      style="cursor: pointer;"
                      class="pdfImg"
                      src="../.../../../../../../assets/images/website.png"
                      alt=""
                  /></a>
                </td>

                <td>
                  <span
                    *ngIf="item?.descriptionDispt !== '' || item?.description !== ''"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="{{ item.description }}"
                  >
                    {{ item?.descriptionDispt ? item?.descriptionDispt : item?.description }}</span
                  >
                  <span *ngIf="item?.descriptionDispt == '' || item?.description == ''">---</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0c479d" (click)="closeModal()" class="w-25 btn addCandidateBtn">
        Close
      </button>
    </div>
  </div>
</ng-template>
