<div class="container-fluid p-0">
  <div class="col-md-12 content1 text-center p-0 " *ngIf="isUpload == false">
    <!-- <p>dnasjkdnkjasndas</p>
      <p>ndksajndsajndjsand</p> -->
    <div class="row align-items-center">
      <div class="col-md-5 col-sm-5 mt-3">
        <mat-form-field class="mat-form w-100  p-3">
          <mat-label>Select Upload Type</mat-label>
          <mat-select [(value)]="searchBy">
            <mat-option value="none">Select Upload Type</mat-option>
            <mat-option value="termsNConditions">Terms and conditions</mat-option>
            <mat-option value="privacyPolicy">Privacy policy</mat-option>
            <!-- <mat-option value="consultantTermsNConditions">Consultant terms conditions</mat-option>
              <mat-option value="consultantPrivacyPolicy">Consultant privacy policy</mat-option> -->
            <!-- <mat-option value="email">Email</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div>
          <button class="btn btn-info" (click)="getSearchVal()">Search</button>
        </div> -->
    </div>

    <div class="outer" *ngIf="searchBy !== 'none'">
      <div *ngIf="searchBy == 'termsNConditions'">
        <p class="m-0">Terms and conditions</p>
        <img
          title="Download"
          (click)="download('termsNCondition')"
          src="../../../../assets/images/file.png"
          style="cursor:s-resize"
        />
        <div class="position-relative">
          <button class="position-absolute btn btn-info w-50 uploadBtn">Choose a pdf</button>
          <input
            type="file"
            class="position-absolute inputFile"
            accept="application/pdf"
            (change)="onFileChanged($event)"
          />
        </div>
      </div>
      <div *ngIf="searchBy == 'privacyPolicy'">
        <p class="m-0">Privacy policy</p>
        <img
          title="Download"
          (click)="download('privacyPolicy')"
          src="../../../../assets/images/file.png"
          style="cursor:s-resize"
        />
        <div class="position-relative">
          <button class="position-absolute btn btn-info w-50 uploadBtn">Choose a pdf</button>
          <input
            type="file"
            class="position-absolute inputFile"
            accept="application/pdf"
            (change)="onFileChanged($event)"
          />
        </div>
      </div>
      <div *ngIf="searchBy == 'consultantTermsNConditions'">
        <p class="m-0">Consultant Terms and conditions</p>
        <img
          title="Download"
          (click)="download('consultantTermsNConditions')"
          src="../../../../assets/images/file.png"
          style="cursor:s-resize"
        />
        <div class="position-relative">
          <button class="position-absolute btn btn-info w-50 uploadBtn">Choose a pdf</button>
          <input
            type="file"
            class="position-absolute inputFile"
            accept="application/pdf"
            (change)="onFileChanged($event)"
          />
        </div>
      </div>
      <div *ngIf="searchBy == 'consultantPrivacyPolicy'">
        <p class="m-0">Consultant privacy policy</p>
        <img
          title="Download"
          (click)="download('consultantPrivacyPolicy')"
          src="../../../../assets/images/file.png"
          style="cursor:s-resize"
        />
        <div class="position-relative">
          <button class="position-absolute btn btn-info w-50 uploadBtn">Choose a pdf</button>
          <input
            type="file"
            class="position-absolute inputFile"
            accept="application/pdf"
            (change)="onFileChanged($event)"
          />
        </div>
      </div>
    </div>
    <!-- <div class="outer">
        <div *ngIf="searchBy == 'termsNConditions'">
          <p class="m-0">Terms and conditions</p>
          <img src="../../../../assets/images/file.png" style="cursor:s-resize" />
        </div>
        
        <div *ngIf="searchBy == 'ter'">
          <p class="m-0">Privacy policy</p>
          <img src="../../../../assets/images/file.png" style="cursor:s-resize" />
        </div>
        <div *ngIf="searchBy == 'te'">
          <p class="m-0">Consultant Terms and conditions</p>
          <img src="../../../../assets/images/file.png" style="cursor:s-resize" />
        </div>
        <div *ngIf="name == 'Cpolicy'">
          <p class="m-0">Consultant privacy policy</p>
          <img src="../../../../assets/images/file.png" style="cursor:s-resize" />
        </div>
      </div> -->
  </div>
  <div class="row col-md-12 content2 " *ngIf="isUpload == true">
    <div class="col-md-6 mt-3">
      <mat-form-field class="mat-form w-50">
        <mat-label>Select a type</mat-label>
        <mat-select [(value)]="searchBy">
          <mat-option value="none">Select type</mat-option>
          <mat-option value="termsNConditions">Terms And Conditions</mat-option>
          <mat-option value="privacyPolicy">Privacy Policy</mat-option>
          <mat-option value="consultantTermsNConditionsNConditions">Consultant terms&conditions</mat-option>
          <mat-option value="consultantprivacyPolicyPolicyPolicy">Consultant privacy policy</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6 text-right mt-3">
      <button class="btn btn-info" (click)="back()">Back</button>
    </div>
    <div *ngIf="searchBy !== 'none'" class="col-md-6 offset-md-3 text-right">
      <button class="position-relative btn btn-info w-50 mt-5 mb-5">Choose a pdf</button>
      <input type="file" class="position-absolute inputFile" accept="" (change)="onFileChanged($event)" />
    </div>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
<router-outlet></router-outlet>
