<div class="col-md-12">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row">
        <div class="col">
          <h4 class="tablename">Add Industry</h4>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/view-industry']">Back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <form [formGroup]="managerForm">
        <div class="formout">
          <div class="row">
            <div class="col-lg-12 col-md-12 row m-0 extraMargin">
              <div class="col-md-4 offset-md-4">
                <div class="form-group">
                  <label>Enter Industry Type</label>
                  <input type="text" class="form-control" formControlName="industryType" placeholder="Industry Type" />
                  <div
                    *ngIf="
                      managerForm.controls['industryType'].invalid &&
                      (managerForm.controls['industryType'].dirty || managerForm.controls['industryType'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['industryType'].errors.required">
                      *Industry type is required.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="Address" />
                  <div
                    *ngIf="
                      managerForm.controls['address'].invalid &&
                      (managerForm.controls['address'].dirty || managerForm.controls['address'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['address'].errors.required">
                      *Address is required.
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" />
                  <div
                    *ngIf="
                      managerForm.controls['lastName'].invalid &&
                      (managerForm.controls['lastName'].dirty || managerForm.controls['lastName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['lastName'].errors.required">
                      *Last name is required.
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Create Password</label>
                  <input
                    type="text"
                    class="form-control position-relative"
                    formControlName="password"
                    placeholder="Password"
                    style="padding: 19px 97px 19px 19px"
                  />

                  <div
                    *ngIf="
                      managerForm.controls['password'].invalid &&
                      (managerForm.controls['password'].dirty || managerForm.controls['password'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['password'].errors.required">
                      *Password is required.
                    </div>
                    <div *ngIf="managerForm.controls['password'].errors.minlength">
                      *Password length should be minimum 6 character.
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="mobile_format"
                      maxlength="14"
                      minlength="14"
                      (input)="_mobileFormat('test')"
                      placeholder="Create password"
                    />
                    <div
                      *ngIf="
                        managerForm.controls['mobile_format'].invalid &&
                        (managerForm.controls['mobile_format'].dirty || managerForm.controls['mobile_format'].touched)
                      "
                      class="errorinput text-left"
                    >
                     
                      <div *ngIf="managerForm.controls['mobile_format'].errors.minlength">
                        *Invalid Phone number.
                      </div>
                    </div>
                  </div>
                </div> -->

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" />
                  <div
                    *ngIf="
                      managerForm.controls['email'].invalid &&
                      (managerForm.controls['email'].dirty || managerForm.controls['email'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['email'].errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="managerForm.controls['email'].errors.pattern">
                      *Invalid email .
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="row col-md-12 m-0 p-0"></div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
              <button class="btn w-30 addCandidateBtn" [disabled] = "!managerForm.valid" (click)="submitForm()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
