<div class="content">
  <div class="container-fluid">
     <div class="row m-0">
      <div class="col-lg-6 col-md-6">
        <div class="card card-stats">
          <div
            class="card-header card-header-warning card-header-icon"
            style="height: 240px"
          >
            <div class="card-icon">
              <!-- <i class="material-icons">content_copy</i> -->
              <i class="fas fa-users"></i>
            </div>
            <p class="card-category">Pending Reviews</p>
            <h3 class="card-title mt-1">{{totalPending}}</h3>

            <p class="text-left position-absolute mb-5" style="bottom: 0px;font-size: 18px;">
              Open Requests
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 p-0">
        <div class="card table_outer">
          <div class="card-header card-header-primary tablenetworkheading ">
            <div class="row">
              <h4 style="font-size: 14px; padding: 7px" class="col ml-2">
                Network Update
              </h4>
              <!-- <p  #statusBtn  class="col text-right mr-2 _add_message_btn" (click)="openModal('row',modal,statusBtn)">Add Message</p> -->
            </div>

            <!-- <p>All canditates</p> -->
          </div>
          <div class="card-body" style="height: 198px;">
            <div class="view-network">
              <div
                class="text-center"
                style="font-size: 12px"
                *ngIf="networkList?.length == 0"
              >
                No message Available !!
              </div>
              <ul class="max_height">
    
                  <li *ngFor="let item of networkList">
                    <div class="m-0 p-0" >
                      <span class="date">{{ item?.humanDate }}</span> <br />
                      <span  *ngIf="item?.type == 'adminMessage'"><img class="announcementIcon" src="../../../../../assets/images/megaphone.png" alt=""></span> 
                      <span class="icon" *ngIf="item?.type == 'skillUpgrade'"><img src="../../../../../assets/images/star.svg" alt=""></span> 
                      <span class="text ml-1"> {{ item.message }} </span>
                    </div>
       
                  </li>
      
             
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-0 m-0">
     <app-all-assessment-list></app-all-assessment-list>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <div class="row col-md-12 justify-content-center">
      <p for="">Network Update</p>
    </div>
    <button
      type="button"
      class="btn btn-link close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
    <div class="row mt-3 col-md-12 text-center m-0 p-0">
      <label for="">Message</label> <br />
      <textarea
        name=""
        class="w-100"
        [(ngModel)]="messageText"
        style="
          font-size: 12px;
          background-color: #eeeeee;
          border: none;
          height: 100px;
        "
      ></textarea>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center">
      <button
        style="background-color: #0c479d"
        class="w-50 btn addCandidateBtn"
        (click)="addMessage()"
        [disabled]="messageText == ''"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template>

<ng-template #requestModal let-modal>
  <app-spinner *ngIf="isLoading1" [type]="'normal'" ></app-spinner>
  <div class="modal-header">
    <div class="row">

    </div>
    <button
      type="button"
      class="btn btn-link close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row col-md-12 justify-content-center m-0 mt-3 mb-3">
      <span [ngClass]="{ active: status == 'approved' }" (click)="submitRequest('approved')" class="_approve">Approve</span>
      <span [ngClass]="{ active: status == 'rejected' }" (click)="submitRequest('rejected')"  class="_approve">Reject</span>
    </div>
    <div class="row col-md-12 justify-content-center mb-4 m-0" *ngIf="status == 'rejected'">
      <!-- <input type="text" [(ngModel)]="reasonText" class="form-control login_input" id="exampleInputEmail1"  placeholder="Rejected Reason"> -->
            
      <textarea
      name=""
      class="w-100"
      placeholder="Rejected Reason"
      [(ngModel)]="reasonText"
      style="
        font-size: 12px;
        background-color: #eeeeee;
        border: none;
padding:10px;
        height: 100px;
      "
    ></textarea>


    </div>

    <div class="row mt-2 mr-2 col-md-12 justify-content-center m-0">
      <button
        style="background-color: #0c479d"
        class="w-50 btn addCandidateBtn"
        (click)="hitSubmitApi()"
        [disabled]="status == '' || (status=='rejected' && reasonText?.length == 0)"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template>




<ng-template #modaldelete let-modal>
  <div class="card-body">
      <div class="formout">
        <div class="container-fluid p-0">
          <!-- <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner> -->
          <div class="col-md-7 col-xs-7 m-auto p-0">
            <div class="content mt-4">
              <div class="row justify-content-center">
                <img
                  class="imageUpload"
                  (click)="swalImg(profileDetail?.profilePic)"
                  src="{{
                    profileDetail?.profilePic
                      ? profileDetail?.profilePic
                      : '../../../../../../../assets/images/userhd.png'
                  }}"
                  alt=""
                />
              </div>
              <div class="row justify-content-center mt-3">
                <div class="col-6 text-right">
                  <p>Name:</p>
                </div>
                <div class="col-6 left">
                  <p>
                    {{ profileDetail?.firstName || "--" }}
                    {{ profileDetail?.lastName }}
                  </p>
                </div>
                <div class="col-6 text-right">
                  <p>Email:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.email || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Phone Number:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.mobile || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Manager Name:</p>
                </div>
                <div class="col-6 left">
                  <p>
                    {{ profileDetail?.managerFirstName || "--" }}
                    {{ profileDetail?.managerLastName }}
                  </p>
                </div>
                <div class="col-6 text-right">
                  <p>Title:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.title || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Department:</p>
                </div>
                <div class="col-6 left">
                  <p style="white-space: nowrap;">{{ profileDetail?.department[0] || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Facility:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.facility || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Salary:</p>
                </div>
                <div class="col-6 left">
                  <p class="salary">{{ profileDetail?.salary || "--" }}</p>
                </div>
               
              </div>
              <div class="row justify-content-center mt-2">
                  
                  <button class="btn addCandidateBtn "   (click)="modal.dismiss('Cross click')">Close</button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</ng-template> 

<app-spinner *ngIf="isLoading"></app-spinner>