@import "../../../../assets/styles/variable.scss";

.card-header-icon {
    text-align:right;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
p {
    margin: 0;
}
.greenClass {
    background-color: #2a9b0d !important;
    box-shadow: 0px 0px 10px 0px   #299b0d83
    
  }
.card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $orange, $orange);
    box-shadow: 0 4px 20px 0 rgba(255, 129, 55, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card .card-icon2 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $green, $green);
    box-shadow: 0 4px 20px 0 rgba(64, 161, 68,0.14), 0 7px 10px -5px rgba(13, 77, 15, 0.4);
}
.card .card-icon3 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $light-blue, $light-blue);
    box-shadow: 0 4px 20px 0 rgba(11, 210, 224, 0.14), 0 7px 10px -5px rgba(23, 166, 223, 0.4);
}
.card-stats .card-header.card-header-icon i {
    font-size: 22px;
    line-height: 35px;
    width: 40px;
    height: 24px;
    text-align: center;
}
.card-category {
    color: #999;
p {
    font-size: 14px;
}
h3 {
    font-size: 16px;
}
}

li {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 4px;
    margin-right: 6px;
}
.table_outer {
    margin-top: 47px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}
.view-network li .date {
    font-size: 13px;
    color: #929292;
    font-weight: bold
 }

.card-title, .text-left{
    font-size: 25px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheadingnetwork {
    color: $green;
    font-size: 15px;
    font-weight: bold;
    }
    .tablenetworkheading {
        background-color: $green;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $green;
    }
    .orangeHeader {
        background-color: $orange;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $orange;
       
    }
    .tableheading {
        color:$orange;
        font-size: 15px;
        font-weight: bold;
        }

.table>thead>tr>th {
    border-bottom-width: 1px;
}
// .table thead th {
//     border-bottom: none!important;
//     border-top:none;
// }
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: #777777;
    padding: 4px 30px 4px 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $light-blue;
    color:white;
}

// .table td:first-child {
//     border-top:none;
//     border-bottom:1px solid red;
// }
.view-network li .icon img {
    width: 20px;
}
.view-network li {
    list-style: none;
   text-decoration: none;
}
.view-network ul {
    text-decoration: none;
    list-style: none;
 }
 .view-network li .date {
     font-size: 14px;
     color: #2D9A32;
     font-weight: bold;
 }
 .view-network li .text {
    font-size: 11px;
    color: #777777;
}

.pagination_custom  li{
    background-color: $orange;
}
.disabled_pagination {
    background-color: #dec58e !important;
}
::-webkit-scrollbar-thumb {
    background: $orange !important;
    border-radius: 10px;
  }
  ._add_message_btn  {
    font-size: 15px;
    padding:7px;
    cursor: pointer;
  }
  ._add_message_btn:hover {
      color: whitesmoke;
  }
  .profilePic {
    height: 35px;
    width: 35px;
    border-radius: 30px;
  }
  .suspendclass {
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 11px;
    padding: 4px 25px 4px 25px;
}
.max_height {
    overflow: auto;
    height: 169px;
}
.max_height::-webkit-scrollbar-thumb {
    background: $green !important;
    border-radius: 10px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background: $orange !important;
    border-radius: 10px;
}
._approve {
    font-size: 14px;
    background-color: whitesmoke;
    padding: 4px 22px 4px 22px;
    border-radius: 33px;
    margin: 10px;
    cursor: pointer;
}
._approve:hover {
    background-color: #1e88e5;
    color: white;
}
.active {
background-color: #1e88e5;
    color: white;
}
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 12px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}
.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: none!important;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.imageUpload {
    height: 120px;
    width: 120px;
    border-radius: 80px;
    cursor: pointer;
}
._gn_password {
    position: absolute;
    right: 31px;
    bottom: 27px;
    font-size: 9px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
.view_profile li {
    list-style: none;
   text-decoration: none;
}
.view_profile ul {
    text-decoration: none;
    list-style: none;
 }
 .pull-right {
    color: #000000;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
.left {
    span {
            color: #777777;
            font-size: 16px;
    }
}
@media(max-width:768px ) {
    .leftul span {
        font-size: 16px;
    }
    .rightul span {
        font-size: 16px;
    }
    .left {
        margin-left:0px;
    }
    // .text-right {
    //     text-align:center!important;
    // }
    // .left {
    //     text-align: center;
    // }

}
li {
    font-size: 16px;
}
.text-right {
    font-size:16px;
}
.left {
    font-size:16px;
}

.salary::before {
    content: "$";
}
.greenclass {
    line-height: 15px;
    background:rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
    margin-left: 4px;
}
.greyclass {
    line-height: 15px;
    background:rgba(201, 201, 201, 0.3);
    border-radius: 25px;
    font-size: 11px;
    padding: 4px 25px 4px 25px;
    margin-left: 4px;
}
