<!-- <button (click)="filterValue()">CLIKC</button> -->
<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row align-items-center">
        <div class="col pull-left">
          <h4 class="tablename">Managers List</h4>
          <p class="tablesubname">All managers</p>
        </div>
        <div class="col text-right">
          <button class="btn addCandidateBtn1 " routerLink="/main/admin/add-manager" >+ Add New Manager</button></div>
      </div>
     
      <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">

<app-no-file *ngIf="managerList.length <= 0"></app-no-file>

        <table *ngIf="managerList.length > 0" class="table">
          <thead class="tableheading">
            <tr>
              <th scope="col">Profile</th>
              <th scope="col " class="_noWrap">Name</th>
              <th scope="col" >Title</th>
              <th scope="col">Facility</th>
              <th scope="col">Department</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of managerList">
              <td><img class="profilePic" [src]="list.profilePic?list.profilePic:'../.../../../../../../assets/images/userhd.png'" ></td>
              <td style="white-space: nowrap;">{{list?.firstName}} {{list?.lastName}}</td>
              <td class="_noWrap">
                
                  <span  data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.fullTitle}}>
                    {{ list?.title }}
                  </span>
           
                </td>
              <td class="_noWrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.fullFacility}}>{{ list?.facility
            }}</td>
              <td class="_noWrap">{{list?.department}}</td>
              <td>{{list?.status}}</td>
              <td class="d-flex flex-row" style="width:20pc">
                  <div class="row m-0 p-0" >
                      <img class="editImg mr-1 _add_cursor"  [queryParams]="{id:list.userId}" [routerLink]="['/main/admin/edit-manager']" src="../../../../../assets/images/edit.svg">
                      <img class="editImg ml-2 _add_cursor" #DeleteBtn (click)="openModalDelete(list.userId,modaldelete,DeleteBtn)"  src="../../../../../assets/images/delete.svg">
                      <span class="ml-3 resetclass " style="line-height: 15px; cursor: pointer;"  #resetBtn (click)="openModalReset(list.userId,modalreset,resetBtn)">Reset Password</span>
                      <span class="ml-3 suspendclass " *ngIf="list?.status == 'active'" style="line-height: 15px; cursor: pointer;"  #suspendBtn (click)="openModal(list,modalsuspend,suspendBtn,'suspend')">Suspend</span>
                      <span class="ml-3 activeclass "  *ngIf="list?.status == 'suspended'" style="line-height: 15px; cursor: pointer;"  #suspendBtn (click)="openModal(list,modalsuspend,suspendBtn,'active')">Activate</span>
                  </div>
              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
    <div  class="row p-0 m-0 mt-2 mb-3 align-items-center"  *ngIf="managerList.length > 0" >
      <div  class="pagLimitSet">
        <select class="pagLimitSet_selecet" (change)="changePageLimit()"  [(ngModel)]="pagelimit">
          <option  value="5">5</option>
          <option  value="10">10</option>
          <option  value="20">20</option>
          <option  value="50">50</option>
          <option  value="100">100</option>
        </select>
       
      </div>
      <div class="col" style="margin-right:10px">
        <div class="pagination_custom" *ngIf="managerList.length > 0">
          <ul class="d-flex flex-row">
            <li (click)="prevPage()" [ngClass]="{'disabled_pagination':currentPage  == 0}" > < </li>
            <li class="show_number"> {{currentPage + 1}} / {{totalPage }} </li>
            <li (click)="nextPage()" [ngClass]="{'disabled_pagination':currentPage + 1  == totalPage }" > > </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalsuspend let-modal>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
     <p class="_modal_text">Are you sure?</p>
     <p class="_modal_text" *ngIf="status =='activate'"> You want to {{status}} this account!</p>
     <p class="_modal_text" *ngIf="status =='suspend'"> You want to {{status}} {{rowdata.firstName}} {{rowdata.lastName}}!</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
     <button style="background-color: #0C479D;" (click)="suspendAccount()" class="w-50 btn addCandidateBtn"> Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" (click)="modal.dismiss('Cross click')" class="w-50 btn addCandidateBtn"> No</button>
     </div>


</div>

</ng-template> 

<ng-template #modalreset let-modal>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
     <p class="_modal_text">Are you sure?</p>
     <p class="_modal_text"> You want to reset the password!</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
     <button style="background-color: #0C479D;" (click)="resetAccount()" class="w-50 btn addCandidateBtn"> Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" (click)="modal.dismiss('Cross click')" class="w-50 btn addCandidateBtn"> No</button>
     </div>


</div>

</ng-template> 
<ng-template #modaldelete let-modal>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
     <p class="_modal_text">Are you sure?</p>
     <p class="_modal_text">You want to remove this manager!</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
     <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn"  (click)="deleteUser()" > Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" (click)="modal.dismiss('Cross click')" class="w-50 btn addCandidateBtn"> No</button>
     </div>


</div>

</ng-template> 

