@import "../../../../../assets/styles/variable.scss" ;
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $dark-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $dark-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $dark-blue;
font-size: 15px;
font-weight: bold;
}


// .table>thead>tr>th {
//     border-bottom-width: 1px;
// }
.table thead th {
    border-bottom:none!important;
    border-top:none;
}

.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}

.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 6px 38px 7px 38px;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
}
._modal_text{
    color: #0C479D;
    font-size: 16px;
    font-weight: bold;
}


.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;

}

.resetclass {
    line-height: 15px;
    background: rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 2px 25px 2px 25px;
}
.suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 2px 25px 2px 25px;
}
.activeclass {
    line-height: 15px;
    background: rgb(142, 110, 255);
    border-radius: 25px;
    font-size: 10px;
    color:white;
    padding: 2px 25px 2px 25px;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}


@media(max-width:768px ){
    .btn {
        padding:9px;
        font-size: 13px;
    }
    .pagination_custom li {
        padding:7px
    }
}




.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }