.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background:#D6B34D;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #0C479D;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 14px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color:#0C479D;
font-size: 18px;
font-weight: bold;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 15px;
    font-weight: 400;
}
.imageUpload {
    height: 151px;
    width: 163px;
    border-radius: 100%;
    margin-top: 14px;
}
._gn_password {
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    right: 0;
    top: 64%;
    right: 10px;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.camera {
    height: 30px;
    width: 31px;
    bottom: 23px;
    background: rgb(84, 87, 218);
    border-radius: 39px;
    right: 38px;
    padding: 3px;
}
.extraMargin{ margin-top: 0px;}

.form-control-password {
    background: #EEEEEE;
    padding: 19px;
    border-radius: 8px;
    font-size: 13px;
    border-color:transparent;
}
select {
    background-image: linear-gradient(45deg, transparent 50%, #a09b9b 60%), linear-gradient(135deg, #a7a4a4 40%, transparent 50%) !important;
    background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }

  .selectt{
    padding: 6px 0px 0px 10px;
    border-radius: 8px;
    font-size: 13px;
    border-color: transparent;
}

.form-control-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #EEEEEE;
    background-clip: padding-box;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




.icon_img_profile {
    right: -27px;
    bottom: -44px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: absolute;
    background-color: #0c479d;
    border-radius: 52px;
    padding: 4px;

}
// .select_cam_profile span {
//     background-color: white;
//     height: 140px;
//     width: 140px;
//     display: inline-block;
//     margin: 0 auto;
//     position: absolute;
//     top: -50px;
//     left: 0;
//     right: 0;
//     border-radius: 50%;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     z-index: -1;
//     overflow: hidden;
// }
.profile_inner_{
    height: 100%;
    width: 100%;
    border-radius: 90px;
}
.uploadPic {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 4px;
    padding: 7px;
    background: #0c479d;
    border-radius: 16px;
}

.custom-file-input{
    cursor: pointer;
    position: relative;
    z-index: 2;
    position: absolute;
    max-width: 28px;
    margin: 0;
    height: 30px;
    right: 5px;
    overflow: hidden;
    bottom: 0;
    border-radius: 23px;
}

.select_cam_profile{
    margin: auto;
    align-content: center;
    position: relative;
    height: 140px;
    width: 149px;
}

@media(max-width:768px) {
    // .select_cam_profile {
    //     top:56px!important;
    
    // }
    .select_cam_profile span {
        left:-20px!important;
    }
    .imageUpload {
        margin-left:0px;
    }
    // .extraMargin {
    //     margin-top: 100px !important;
    // }
    
}