<div class="col-md-12">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row">
        <div class="col">
          <h4 class="tablename">Edit Investment</h4>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/view-investment']">Back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <form [formGroup]="managerForm">
        <div class="formout">
          <div class="row">
            <div class="col-lg-12 col-md-12 row m-0 extraMargin">
              <div class="col-md-4 offset-md-4">
                <div class="form-group">
                  <label>Investment Type</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="investmentType"
                    placeholder="Investment Type"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['investmentType'].invalid &&
                      (managerForm.controls['investmentType'].dirty || managerForm.controls['investmentType'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['investmentType'].errors.required">
                      *Investment type is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row col-md-12 m-0 p-0"></div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
              <button class="btn w-30 addCandidateBtn" [disabled] = "!managerForm.valid" (click)="updateUser(managerForm.value)">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
