.nameLabel {
  color: #444444;
  font-size: 14px;
  font-weight: 500;
}
.dateLabel {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
}
.bio_margin {
  margin-bottom: 52px;
}
.s {
  margin-bottom: 60px;
}
.messageLabel{
  color: #777777;
  font-size: 12px;
  font-weight: 500;
  margin-left: 40px;
}
.icon_User {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  }
  .main_inner {
    background-color: white;
  }
  .label_text {
    color: #8897A9;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
  }
  .label_all {
    color: #777777;
    font-size: 14px;
    cursor: pointer;
    font-weight: 300;
  }
  .fav_count {
    color: red;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 2;
  }
  .heart_icon {
    position: absolute;
    right: 0;
    align-items: center;
    left: 25%;
    top: 25%;
}
.heart_outer {
    background-color: #FF000010;
    border-radius: 242px;
    height: 63px;
    width: 63px;
    position: relative;
    margin-top: 14px;
    margin-bottom: 20px;
}
.new_match {
  font-size: 12px;
    color: #777777;
    font-weight: 400;
    margin-left: 36px;
    margin-bottom: 5px;
    margin-top: 1px;
}
.messageimage {
  height: 4pc;
  width: 6pc;
  border-radius: 6px;
  border: 4px solid #dbdbdb;
  margin-top: 4px;
}
.date_ {
  font-size: 11px;
  font-weight: 500;
  color: #777777;
}
.phead {
  color: #777777;
  font-weight: 600;
  font-size: 20px;
}
.read_btn {
  height: 45px;
  width: 136px;
}
.al_btn_read {
  background-color: #3d5362;
  border-radius: 30px;
  padding: 5px 25px;
  /* width: 100%; */
  border: none;
  color: #fff;
}
.custom_line {
  padding: 20px;
}
.nodata {
  color: #777777;
  padding: 35px;
  font-size: 17px;
}
.edit_Btn {
  width: 55px;
  font-size: 8.6px;
  float: right;
  margin-right: 1.5px;
}
.blog_desc {
  height: 100px;
  overflow: hidden;
  font-size: 16px;
  color:rgb(119, 119, 119)
}
.delet_btn{ 
  width: 16px;
  float: right;
  margin-left: 1px;
  margin-top: 3px;
  cursor: pointer;
}
.read_btn {
  height: 40px;
  padding: 10px 25px 10px 25px;
  background-color: #3d5362;
  color: white;
  line-height: 0;
  border-radius: 25px;
  border: none;
  font-size: 16px;
}
.read_btn:hover {
color: white;
background: black;
}

._sub_btn {
  width: 116px;
  height: 42px;
  font-size: 15px;
  margin: 12px;
}
p.no_blog {
  color: #777777;
  padding: 14px;
  font-size: 14px;
}





.image {
  height: 80px;
  width: 80px;
  border-radius: 42px;
  margin:auto;
}
h2:empty, h3:empty,.p_50 .h4:empty,.heading_dummy:empty, .p_in:empty, h5:empty, a:empty,p:empty, .icon_User:empty, .image:empty, .label_text_dummy:empty, .label_dummy:empty, .btn:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
  text-align:center;
}
.label_text_dummy:empty {
  width:20%;
}
.p_50 {
  width: 25%;
  height: 25px;
}
.heading_dummy:empty {
  width: 20%;
  height: 50px;
}
.p_in:empty {
  width: 30%;
  height: 20px;
}
.label_dummy:empty {
  width:20%;
  float: right;
}
.icon_User:empty {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  }

img:empty.card-img-top{
  min-height: 189.75px;
}

h2:empty{
  height: 38px;
  width: 100%;
}

h3:empty {
  height: 22px;
  width: 200px;
}
h5:empty{
  height: 30px;
  width: 100%;
  text-align: center;
}

a:empty{
    width: 100px;
    height: 40px;
    border: 0;
}
h4:empty {
  height: 18px;
  width: 200px;
}

p:empty {
  height: 18px;
  width: 100%;
} 
p:empty.lead {
  height: 30px;
  width: 100%;
}
@keyframes loading {
0% {
background-position: -100px;
}

100% {
background-position: 200px;
}
}
@media (max-width: 576px) { 
.sm-text-center {
  text-align: center;
}
h5:empty{
  width: 100%;
} 
p:empty.card-text{
  width: 100%;
}
.sm-mr-auto{margin-right:auto!important}
.sm-ml-auto{margin-left:auto!important}
}
@media (max-width: 420px) { 
.col-xxs-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
h5:empty{
  width: 100%;
}
p:empty.card-text{
  width: 100%;
}
}