<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <h4 class="tablename">Assessment list</h4>
      <p class="tablesubname">All assessment</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
        <app-no-file *ngIf="assessmentList?.length <= 0"></app-no-file>
        <table class="table" *ngIf="assessmentList?.length > 0">
          <thead class="tableheading">
            <tr>
              <th scope="col" style="white-space: nowrap">Track</th>
              <th scope="col">Level</th>

              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Skills</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of assessmentList">
              <td>{{ list?.tracklist ? list?.tracklist : "---" }}</td>
              <td class="_noWrap" *ngIf="list?.level == '1'">
                <label class="container">
                  <span [ngClass]="{ blue: list?.level == '1' }">{{
                    list?.displayLevel
                  }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    disabled
                    class="noaction"
                    name="radio"
                  />
                  <span
                    [ngClass]="{ blueClass: list?.level == '1' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>
              <td class="_noWrap" *ngIf="list?.level == '2'">
                <label class="container">
                  <span [ngClass]="{ orange: list?.level == '2' }">{{
                    list?.displayLevel
                  }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    disabled
                    class="noaction"
                    name="radio"
                  />
                  <span
                    [ngClass]="{ orangeClass: list?.level == '2' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>

              <td class="_noWrap" *ngIf="list?.level == '3'">
                <label class="container"
                  ><span [ngClass]="{ green: list?.level == '3' }">{{
                    list?.displayLevel
                  }}</span>
                  <input type="radio" checked="checked" disabled name="radio" />
                  <span
                    [ngClass]="{ greenClass: list?.level == '3' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>
              <td class="_noWrap">
                
                <span  data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.title}}> {{list?.titleDisp ? list?.titleDisp :list?.title}}</span>       
                
                </td>
                <td class="_noWrap">
                  <span data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.description}}> {{list?.descriptionDisp ? list?.descriptionDisp :list?.description}}</span>       
                  </td>

              <td class="pr-0">
                {{ list?.skills.length ? list?.skills.length : "---" }}
              </td>
              <td style="white-space: nowrap" class="pl-0">
                <!-- <div class="row m-0 p-0" > -->
                <span
                  class="suspendclass _add_cursor"
                  style="line-height: 15px"
                  #statusBtn
                  (click)="
                    viewAssessmentModal(list, showAssessmentModal, statusBtn)
                  "
                  >View Assessment</span
                >
                <!-- <span class="suspendclass _add_cursor" style="line-height: 15px;"   routerLink="/main/manager/view-profile" >View Profile</span>
                  </div> -->
              </td>
              <td style="white-space: nowrap" class="pl-0">
                <span
                  class="greenclass _add_cursor"
                  style="line-height: 15px"
                  routerLink="/main/manager/employee-assessment"
                  [queryParams]="{ id: list.assessmentId }"
                  >Assign Employees</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #showAssessmentModal let-modal>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="row card-header card-header-primary">
    <div class="col"><h4 class="tablename">View Skills</h4></div>
  </div>
  <div class="modal-body" style="height: 400px;overflow: auto;">
    <div class="col-md-12" >
      <div class="card table_outer">
       
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr >
                  <td style="display: block;" *ngFor="let data of assessmentData.skills">{{ data?.name }} <img class="info" *ngIf="data.description" src="../../../../../assets/images/information-button.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ data?.description }}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger rounded"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
