@import "../../../assets/styles/variable.scss";
.telative {
    background-color:$theme_color;
}
.app-header-logo {
    width: 81px;
    height: 67px;
    /* left: 75px; */
    padding: 11px;
    margin-left: -5px;
}

.logout_div {
    text-align: end;
    padding: 15px;

}
.open-close-btn {
    color: white;
    font-size: 28px;
}
.head_togle {
    margin-top: 25px;
}
.header_img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.header_name {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.label_name {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
._right {
    text-align: right;
}
.headmain {
    display:flex;
    flex-wrap: nowrap;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.fa-chevron-right {
    color: grey;
}
.hide_scoll {
	padding: 15px;
	overflow: hidden !important;
	height: inherit !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 12px;
    line-height: 0.3;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 0px;
    bottom: 1px;
    background-color: #3d5362;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .header_name1{
    font-size: 16px;
    color: #3d5362;
    font-weight: 800;
  }
  input:checked + .slider {
    background-color: #D6B7B5
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #D6B7B5;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
@media (max-width:790px) {
    .label_name {
        font-size: 16px;
    }
    .header_img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-left: 60px;
    }
    ._right {
        text-align: right;
        display: inline-flex;
    }
  }

.rightside 
{
  justify-content: flex-end;
}
.headname {
  font-size: 17px;
    color: #505050;
    font-weight: 500;
}
.usrname {
  font-size: 17px;
  color: #505050;
  font-weight: 500;
}
.btns {
  background: #cccccc;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
.rightdiv {
  align-items: center;
  justify-content: flex-end; 
}

@media (max-width:768px) {
  .rightdiv {
    align-items: center;
    justify-content: center;
  }
}


input {
  outline: 0;
  border-width: 0 0 1px;
  font-size: 16px;
  border-color: #2b2929;
  background: transparent;
  padding-right: 20px;
}
.searchIcon {
  right: 0;
  bottom: 5px;

}

.bellIcon {
  margin-left: 33px;
  margin-right: 30px;

}
.profileIcon {
  margin-right:35px;
}
.header-actions {
  right:0px
}
@media(max-width:768px) {
  .header-actions {
    right:-8px;
  }
  .bellIcon {
    margin-left: 23px;
    margin-right:20px;
  }
  .profileIcon {
    margin-right:20px;
  }
  .col-xs-1 {
    p {
      font-size: 14px;
    }
  }
}
