.nav-tabs .nav-link {
  font-size: 15px;
  width: 200px;
}
.nav-link .active,
.nav-item.shows{
  color: #fffffd;
  background-color: #0c479d!important;
  width: 200px;
  text-transform: capitalize;
  border-color: #dee2;
}
.nav-link a {
background:red!important;

}

.nav-tabs .nav-item {
margin-bottom: -1px;
background: #bbbbbb4a;
text-align: center;
margin: 10px;
border-radius: 38px;

/* color: white; */
}
.nav-tabs .nav-link.active {
color: #ffffff;
background-color:#D6B34D;
border-color: #dee2e6 #dee2e6 #fff;
border-radius: 38px;
}
a {
color: #504e4e;
text-decoration: none;
background-color: transparent;
}
.nav-link:hover {
background: #d6d6d6;
border-radius: 38px;
}

.nav-tabs{
border-bottom:none;
justify-content: center;


}