<div class="col-md-12">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row">
        <div class="col">
          <h4 class="tablename">Add Manager</h4>
          <p class="tablesubname">Complete the profile</p>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/admin/all-manager']">Back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
      <form [formGroup]="managerForm">
        <div class="formout">
          <div class="row">
            <div class="col-xs-3 m-auto">
              <div class="select_cam_profile">
                <img
                  class="profile_inner_"
                  src="{{
                    profilePic ? profilePic : '/assets/images/../../../../../assets/images/undraw_Camera_re_cnp4.png'
                  }}"
                  alt=""
                />

                <img class="uploadPic _add_cursor" src="../../../../../assets/images/photo-camera.svg" alt="" />
                <input
                  type="file"
                  *ngIf="isUploading"
                  class="custom-file-input"
                  id="customFile"
                  (change)="fileChangeEvent($event)"
                />

                <!-- <span>
                  <img class="profile_inner_" src="{{profilePic ? profilePic:'/assets/images/../../../../../assets/images/userhd.png'}}" alt="">
                  <span>
                    <img class="icon_img_profile" src="../../../../../assets/images/photo-camera.svg" alt="">
                    <input type="file" *ngIf="isUploading" class="custom-file-input" id="customFile"    (change)="fileChangeEvent($event)">
                  </span>
                </span> -->

                <div class="cropper" *ngIf="imageChangedEvent">
                  <h5 class="cropper-title">Crop Image</h5>
                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    cropperMinWidth="100"
                    cropperMinHeight="100"
                    resizeToWidth="100"
                    resizeToHeight="100"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  <button class="btn btn-danger mr-rt-1x mr-2" (click)="cancel()">Cancel</button>
                  <button (click)="save()" class="btn btn-primary ml-2">Save</button>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-12 row m-0 extraMargin">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" placeholder="First name" />
                  <div
                    *ngIf="
                      managerForm.controls['firstName'].invalid &&
                      (managerForm.controls['firstName'].dirty || managerForm.controls['firstName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['firstName'].errors.required">
                      *First name is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" />
                  <div
                    *ngIf="
                      managerForm.controls['lastName'].invalid &&
                      (managerForm.controls['lastName'].dirty || managerForm.controls['lastName'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['lastName'].errors.required">
                      *Last name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="mobile_format"
                    (keypress)="onlyNumberKey($event)"
                    maxlength="14"
                    minlength="14"
                    (input)="_mobileFormat('test')"
                    placeholder="Phone number(optional)"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['mobile_format'].invalid &&
                      (managerForm.controls['mobile_format'].dirty || managerForm.controls['mobile_format'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <!-- <div
                      *ngIf="
                        managerForm.controls['mobile_format'].errors.required
                      "
                    >
                      *Phone number is required.
                    </div> -->
                    <div *ngIf="managerForm.controls['mobile_format'].errors.minlength">
                      *Invalid Phone number.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="text"
                    (focusout)="validateEmail()"
                    [ngClass]="{ invalid_: isVerified == false }"
                    class="form-control"
                    formControlName="email"
                    placeholder="Enter email"
                  />
                  <div
                    *ngIf="
                      managerForm.controls['email'].invalid &&
                      (managerForm.controls['email'].dirty || managerForm.controls['email'].touched)
                    "
                    class="errorinput text-left"
                  >
                    <div *ngIf="managerForm.controls['email'].errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="managerForm.controls['email'].errors.pattern">
                      *Invalid email .
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row col-md-12 m-0 p-0">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Title</label>
                <input
                  type="text"
                  class="form-control"
                  maxlength="100"
                  formControlName="title"
                  placeholder="Enter title"
                  value="A Sure Way To Get Rid Of Your Back Ache Problem"
                />
                <div
                  *ngIf="
                    managerForm.controls['title'].invalid &&
                    (managerForm.controls['title'].dirty || managerForm.controls['title'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="managerForm.controls['title'].errors.required">
                    *Title is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="exampleSelect1">Facility</label>
                <select formControlName="facility" class="form-control-select selectt" id="exampleSelect1">
                  <option value="">Select Facility</option>
                  <option *ngFor="let item of facelityList" [value]="item.category">{{ item.category }}</option>
                </select>

                <div
                  *ngIf="
                    managerForm.controls['facility'].invalid &&
                    (managerForm.controls['facility'].dirty || managerForm.controls['facility'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="managerForm.controls['facility'].errors.required">
                    *Facility is required.
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label for="exampleSelect1">Department</label>
                <select
                  formControlName="department"
                  class="form-control-select selectt"
                  id="exampleSelect1"
                >
                <option value="">Select Department </option>
                  <option *ngFor="let item of departmentList" [value]="item.category">{{item.category}}</option>
                  <option value="other">Other</option>
                </select>
                <div
                  *ngIf="
                    managerForm.controls['department'].invalid &&
                    (managerForm.controls['department'].dirty ||
                      managerForm.controls['department'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div
                    *ngIf="managerForm.controls['department'].errors.required"
                  >
                    *Department is required.
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Salary($)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="salary"
                  placeholder="Salary"
                  (keypress)="onlyNumberKey($event)"
                />
                <!-- <div
                  *ngIf="
                    managerForm.controls['salary'].invalid &&
                    (managerForm.controls['salary'].dirty ||
                      managerForm.controls['salary'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="managerForm.controls['salary'].errors.required">
                    *Salary is required.
                  </div>
                </div> -->
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-4">
              <div class="form-group position-relative">
                <label>Create Password</label>
                <input
                  type="text"
                  class="form-control position-relative"
                  formControlName="password"
                  placeholder="Password"
                  style="padding: 19px 97px 19px 19px"
                />
                <span class="_gn_password" (click)="generatePassword()" >Generate Password</span>
                <div
                  *ngIf="
                    managerForm.controls['password'].invalid &&
                    (managerForm.controls['password'].dirty ||
                      managerForm.controls['password'].touched)
                  "
                  class="errorinput text-left"
                >
                  <div *ngIf="managerForm.controls['password'].errors.required">
                    *Password is required.
                  </div>
                  <div *ngIf="managerForm.controls['password'].errors.minlength">
                    *Password length should be minimum  6 character.
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
              <button
                class="btn w-30 addCandidateBtn"
                [disabled]="!managerForm.valid || isVerified == false"
                (click)="submitForm()"
              >
                Save User Profile
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
