@import "../../../../assets/styles/variable.scss" ;
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $dark-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $dark-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $dark-blue;
font-size: 15px;
font-weight: bold;
}


.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 4px 28px 4px 28px;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
}
._no_color {
    width: 20px;
}
._green_color {
    color: #40A144;
}
._sky_color {
    color: #02B1C5;
}
.orange_color {
    color:#FC940E;
}


.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;

}

.resetclass {
    line-height: 15px;
    background: rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 2px 25px 2px 25px;
}
.suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 2px 25px 2px 25px;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}



ul {
    list-style-type: none;
    li {
        display: inline-block;
    }
}
@media(max-width:768px ){
    .btn {
        padding:9px;
        font-size: 13px;
    }
    .pagination_custom li {
        padding:7px
    }
}



// 
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    line-height: 25px;
    width: 58px;
    margin: 0;
    cursor: auto;
    font-size: 10px;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    cursor: auto;
    width: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    background: transparent;
    // box-shadow: 0px 0px 7px 2px #2196f342;
  }
  
  /* On mouse-over, add a grey background color */
//   .container:hover input ~ .checkmark {
//     background-color: #ccc;
//   }
  
  /* When the radio button is checked, add a blue background */
//   .container input:checked ~ .checkmark {
//     background-color: #2196F3;
    
//   }
input[type='radio']:disabled {
    pointer-events: none;
    cursor: none;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
//   .container .checkmark:after {
//        top: 9px;
//       left: 9px;
//       width: 8px;
//       height: 8px;
//       border-radius: 50%;
//       background: white;
//   }

  .blueClass {
    background-color: #2196F3 !important;
    box-shadow: 0px 0px 10px 0px  #2195f398;
    cursor:auto;
    
  }
.greenClass {
    background-color: #2a9b0d !important;
    box-shadow: 0px 0px 10px 0px   #299b0d83
    
  }
.orangeClass {
    background-color: #f39121 !important;
    box-shadow: 0px 0px 10px 0px  #ffa31a94;
    cursor: auto;
  }

  .blue {
    color: #2196F3 !important;
    font-weight: 400;
  }
  .green {
    color: #2a9b0d !important;
    font-weight: 400;
  }
  .orange {
    color: #f39121 !important;
    font-weight: 400;
  }

  .suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
}
.greenclass {
    line-height: 15px;
    background:rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 35px 4px 35px;
}