<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <h4 class="tablename">Assessment list</h4>
      <p class="tablesubname">All assessment</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
        <app-no-file *ngIf="assessmentList?.length <= 0"></app-no-file>
        <table class="table" *ngIf="assessmentList?.length > 0">
          <thead class="tableheading">
            <tr>
              <th scope="col" style="white-space: nowrap">Track</th>
              <th scope="col" class="_noWrap">Level</th>
         
              <th scope="col">Title</th>
              <th scope="col">Last Activity</th>
              <th>Status</th>
              <th>View Assessment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of assessmentList">
              <td>{{ item?.tracklist ? item?.tracklist : "---" }}</td>

              <td class="_noWrap" *ngIf="item?.level == '1'">
                <label class="container">
                  <span [ngClass]="{ blue: item?.level == '1' }">{{
                    item?.displayLevel
                  }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    disabled
                    class="noaction"
                    name="radio"
                  />
                  <span
                    [ngClass]="{ blueClass: item?.level == '1' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>
              <td class="_noWrap" *ngIf="item?.level == '2'">
                <label class="container">
                  <span [ngClass]="{ orange: item?.level == '2' }">{{
                    item?.displayLevel
                  }}</span>
                  <input
                    type="radio"
                    checked="checked"
                    disabled
                    class="noaction"
                    name="radio"
                  />
                  <span
                    [ngClass]="{ orangeClass: item?.level == '2' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>
              <td  class="_noWrap" *ngIf="item?.level == '3'">
                <label class="container"
                  ><span [ngClass]="{ green: item?.level == '3' }">{{
                    item?.displayLevel
                  }}</span>
                  <input type="radio" checked="checked" disabled name="radio" />
                  <span
                    [ngClass]="{ greenClass: item?.level == '3' }"
                    class="checkmark"
                  ></span>
                </label>
              </td>

              <td class="_noWrap">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title={{item?.titleOriginal}}>
                  {{ item?.title }}
                </span>
                </td>
              <td class="pr-0">
               <span *ngIf="item?.lastModifiedDate"> {{formatTime(item?.lastModifiedDate *1000)}} </span>
               <span *ngIf="!item?.lastModifiedDate"> -- </span>
              </td>
              <td>{{item?.status}}</td>
              
              <!-- <td style="white-space: nowrap">
                <span
                *ngIf="item?.percentage =='0'"
                  class="greenclass _add_cursor"
                  style="line-height: 15px"
                  routerLink="/main/employee/submit-assessment"
                  [queryParams]="{id:item.userAssessmentId}"

                  >Start  </span
                >
                <span *ngIf="item?.percentage >'0'"
                  routerLink="/main/employee/submit-assessment"
                  [queryParams]="{id:item.userAssessmentId}"
                  class=" _add_cursor"
                  ><progress-bar [progress]="item.percentage" [color]="'#sfc940e'">
                </progress-bar></span>
              </td> -->

              <td style="white-space: nowrap" class="pr-0">
                <span 
                *ngIf="item?.skillStatus == 'Pending'"
                class="print _add_cursor"
                style="line-height: 15px"
                  routerLink="/main/employee/submit-assessment"
                  [queryParams]="{id:item.userAssessmentId}"
                >Pending</span>
                <span
                *ngIf="item?.skillStatus == 'inProgress' && item?.percentage =='0'"
                class=" _add_cursor"
                  style="line-height: 15px"
                  routerLink="/main/employee/submit-assessment"
                  [queryParams]="{id:item.userAssessmentId}"

                  ><progress-bar [progress]="0" [color]="'#sfc940e'">
                  </progress-bar> </span>

                <span *ngIf="item?.percentage >'0'"
                  routerLink="/main/employee/submit-assessment"
                  [queryParams]="{id:item.userAssessmentId}"
                  class=" _add_cursor"
                  ><progress-bar [progress]="item.percentage" [color]="'#sfc940e'">
                </progress-bar></span>
              </td>


              <td style="white-space: nowrap" class="pl-0">
                <!-- <div class="row m-0 p-0" > -->
                <!-- <span
                  class="suspendclass _add_cursor"
                  style="line-height: 15px"
                  #statusBtn
                  (click)="openModalDelete(item,showAssessmentModal,statusBtn)"
                  >Request Approval</span
                > -->
                <!-- <span class="suspendclass _add_cursor" style="line-height: 15px;"   routerLink="/main/manager/view-profile" >View Profile</span>
                  </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div class="row p-0 m-0 mt-2 mb-3 align-items-center">
        <div class="col"><button class="btn addCandidateBtn " routerLink="/main/admin/add-resource" >+ Add New Resource</button> </div>
        <div class="col-xs" style="margin-right:10px">
          <div class="pagination_custom" *ngIf="resourceList.length > 0">
            <ul class="d-flex flex-row">
              <li (click)="prevPage()" [ngClass]="{'disabled_pagination':currentPage  == 0}" > < </li>
              <li class="show_number"> {{currentPage + 1}} / {{totalPage + 1}} </li>
              <li (click)="nextPage()" [ngClass]="{'disabled_pagination':currentPage + 1  == totalPage }" > > </li>
          </ul>
        </div>
        </div>
  </div> -->
  </div>
</div>

<!-- <ng-template #modaldelete let-modal>
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
      <p class="_modal_text">Are you sure ?</p>
      <p class="_modal_text">You want to remove this resource !</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        class="w-50 btn addCandidateBtn"
        (click)="deleteResource()"
      >
        Yes
      </button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button
        style="background-color: #0c479d"
        (click)="modal.dismiss('Cross click')"
        class="w-50 btn addCandidateBtn"
      >
        No
      </button>
    </div>
  </div>
</ng-template> -->




<ng-template #showAssessmentModal let-modal>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
     <p class="_modal_text">Are you sure ?</p>
     <p class="_modal_text"> You want to send request to manager !</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
     <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn"  (click)="sendApprovalRequest()" > Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" (click)="modal.dismiss('Cross click')" class="w-50 btn addCandidateBtn"> No</button>
     </div>


</div>

</ng-template>