
@import "./assets/styles/variable.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #3b5362 !important;
}
html,body{
	height: 100%;
	scroll-behavior: smooth;
}
:focus {
    outline: 0 !important;
}
.hasError, .has-error {
  position: relative;

  input {
    border-color: red;
  }
}


//------------ WYTHE ----------------//

/* form input */
.form-control {
  background: #EEEEEE;
  padding: 6px;
  border-radius: 8px;
  font-size: 13px;
  border-color:transparent;
}
label {
  color: #000000;
    font-size: 14px;
    font-weight: 500;
}

// BUTTON
.themeBtn {
  background: #0C479D;
  color: white;
 // padding: 11px;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-toggle:empty::after {
  margin-left: 0;
  font-size: 20px;
}
.dropdown-toggle::after {
  display: inline-block;
  position: absolute;
  right: 15px;
}


// PAGINATION //
.pagination_custom li {
  list-style: none;
 text-decoration: none;
 display: inline-block;
 padding: 10px;
 background-color: #D6B34D;
 margin: 5px;
 color: white;
 border-radius: 3px;
 cursor: pointer;
}
.pagination_custom ul {
  text-decoration: none;
  list-style: none;
}
.pagination_custom {
  float: right;
  font-size: 14px;
}
.disabled_pagination {
  background-color: #d9cba3 !important;
  pointer-events: none;
  cursor: not-allowed;
}
.cropper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 100;
  text-align: center;


  .cropper-title {
      margin-top: 20px;
      margin-bottom: 5px;
  }
  
}
img.source-image {
  height: 400px;
}
.col {
  margin-top: 12px;
}
.invalid_ {
  border-color: red;
}
// scroll UI

::-webkit-scrollbar {
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #D6B34D !important ;
  border-radius: 10px;
}
._add_cursor {
cursor: pointer;
}

// BTN SAve
.addCandidateBtn {
  background-color: $dark-blue;
  color:white;
  border-radius: 30px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.addCandidateBtn:hover {
background-color: whitesmoke;
font-weight: bold;
}
.addCandidateBtn1 {
  background-color:white;
  color: $dark-blue;
  border-radius: 12px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}


._noWrap {
  white-space: nowrap;
}
.errorinput {
  font-size: 10px;
  position: absolute;
  color: red;
  // text-transform: capitalize;
}
.errorinput:first-letter {
    text-transform: capitalize;
}
:disabled {
  opacity:.65;
  
}
.pdfImg {
  height: 26px;
    width: 25px;
    cursor: pointer;
}
.skillColor {
  text-decoration: underline!important;
  color: #2196f3!important;
  cursor: pointer;
}
.discardBtn {
  background: white;
  color: black;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border-radius: 12px;
}
.discardBtn_red {
  background: rgb(255, 0, 0);
  color: white;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border-radius: 12px;
} 
.discardBtn_red:hover {
  color: white;
}
.progress-outer {
  width: 90px!important;
  padding: 0 !important;
  margin: 0 !important;
  color: #fff;
  background-color: #ffffff;
  border: 1px solid #fc940e63;
  border-radius: 20px;
  text-align: center;
  font-size: 11px;
  /* color: rebeccapurple; */
}

.progress-inner{

  white-space: nowrap;
  overflow: hidden;
  font-size: 8px;
  line-height: 19px;
  padding: 0px;
  border-radius: 20px;
  background-color: #fc940e !important;
}
.swal2-styled.swal2-confirm {
  background-color: #0C479D!important;
}
.imgaudit {
  height: 20px;
  width: 22px;
}

.multiselect-dropdown .dropdown-btn{
  padding: 10px 12px!important;font-size: 13px;color: #495057;background: #eeeeee;border:none!important;
}
.dropdown-list ul {
  overflow: auto;position: relative;
}

.multiselect-item-checkbox input[type=checkbox] + div {
  color: #444;
  font-size: 15px!important;
}
.item2 {
  max-height: 120px!important;
}

// .cuppa-dropdown .selected-list {
//   border-radius: 0px!important;
//   line-height: 0;
//   border: none!important;
//   border-bottom: 1px solid #949494!important;
//   background: white!important;

  
//   }
  
//   //  group by dropdown
//   .cuppa-dropdown .selected-list .c-btn {
//    background:none!important;
//   }


.selected-list{
  font-size: 13px !important;
  line-height: 1.5;
  color: #495057;
  background-color: #EEEEEE !important;
  background-clip: padding-box;
  border: 1px solid #EEEEEE !important;
  border-radius: 7px;
}

//  group by dropdown
.selected-list .c-btn {
  padding: 10px!important;
  background: #eeeeee!important;
  box-shadow: 0px 0px 0px #959595!important;
  border-radius: 6px!important;
  border:none!important;
}







.select-all {
  padding: 0px 0px 0px 24px!important;
}
.dropdown-list ul li {
  padding:1px 10px!important;
}
.dropdown-list ul li:first-child {
  padding-top:0px!important;
}
.list-filter .fa {
  top:8px!important;
}
.fa-search:before {
  font-size: 15px!important;
}
.list-filter  input {
  font-size: 12px!important;
}
.pure-checkbox  input[type="checkbox"] + label {
  font-weight: 400!important;
}
.list-area div:nth-child(3) {
  max-height: 200px !important;
}
.dropdown-list .filter-textbox input[type="text"] {
  padding: 0 !important;
  font-size: 13px !important;
}
.dropdown-btn span {
  margin-right: 10px;
}

.editImg {
  height:15px;
  width:15px;
}
.announcementIcon {
  width: 25px;
  height: 25px;
}
.swal2-title {
  font-size: 16px!important;
}
// info icon
.info {
  height: 15px;
  width: 15px;
  margin-bottom: 4px;
}
.pagLimitSet {
  margin-left: 18px;
}
.pagLimitSet_selecet {
  background-color: #0C479D;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
}
.mat-form-field-infix {
  font-size: 16px;
}