@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 @import 'variable';
  @import 'spinner';
  @import 'app';
  @import 'header';
 @import 'pages';
 @import 'sidebar';
 @import 'responsive';
 
 @import "../styles/icons/material-design-iconic-font/css/materialdesignicons.min.css";
 
body{
	margin: 0;
  font-family: 'Lato', sans-serif;

	font-size: 22px;
	line-height: 1.5;
	color:#4b616f;
	font-weight: 400;
}
*,:focus{
	outline: none;
}
*{
	margin: 0;
	padding: 0;
}
p,h1,h2,h3,h4,h5,h6,ul,li{
	margin: 0;
	padding: 0;
}

a:hover{
	text-decoration: none;
}

.success {
    background: #4e585f !important;
    color:white;
  }
  .failure {
    background: #4e585f !important;
    color: white;
  }

  .mat-snack-bar-container {
    // margin: 74px !important; 
    margin-top: 68px;
    margin-right: 36px;
  }

  .mat-drawer-inner-container {
    color:#777777;
     background-color: white;
  }

  .cropper {
    position: fixed;
    width: 100%;
    height:100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 9999;
    text-align: center;

    .cropper-title {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

.total_label {
  font-size: 12px;
  color: #777777;
}
._left_margin {
  margin: 0;
  padding: 0;
}


.full_name {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}
.tag_Line {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
}
.desciption_bio {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  overflow: hidden;

}
.img_lock {
  width: 26px;
  line-height: 0;
  align-content: space-around;
  margin-bottom: 4px;
}
.class_login_text {
  margin-right: 41px;
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e3bcb8;
  color: white;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  width: 50px;
  border-radius: 24px;
}
#mainDIV {
  scroll-behavior: smooth;
}
img.scroll_img {
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
._modal_text {
  text-align: center;
}