<div class="contentbox col-md-10 pt-3" >
    <div class="content pt-5">
        <div class="row col-md-12 p-0 m-0 justify-content-center">
            <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
           
            <div class="col-md-5 p-0">
                <div class="form_outer">
                    <div class="inner_form">
                        <div class="formcontent text-center">
                            <p class="log-in">Change Password</p>
                        </div>
                        <div class="inputs">
                            <form [formGroup]="ChangePasswordForm">
                                <div class="form-group mt-3 mb-1">
                                    <label>Old Password</label>
                                    <input type="text"  class="form-control login_input" id="exampleInputEmail1" formControlName="oldPassword"  placeholder="Old password">
                                    <div *ngIf="ChangePasswordForm.controls['oldPassword'].invalid && (ChangePasswordForm.controls['oldPassword'].dirty || ChangePasswordForm.controls['oldPassword'].touched)" class="errorinput text-left">
                                        <div *ngIf="ChangePasswordForm.controls['oldPassword'].errors.required">
                                          *Old password is required.
                                        </div>
                                        <div *ngIf="ChangePasswordForm.controls['oldPassword'].errors.minlength">
                                            *Minimum password length is 6.
                                          </div>
                                    </div>
                                  </div>
                                  <div class="form-group mt-3 mb-1">
                                    <label>New Password</label>
                                    <input type="text"  class="form-control login_input" id="exampleInputEmail1" formControlName="newPassword" placeholder="New password">
                                    <div *ngIf="ChangePasswordForm.controls['newPassword'].invalid && (ChangePasswordForm.controls['newPassword'].dirty || ChangePasswordForm.controls['newPassword'].touched)" class="errorinput text-left">
                                        <div *ngIf="ChangePasswordForm.controls['newPassword'].errors.required">
                                          *New password is required.
                                        </div>
                                        <div *ngIf="ChangePasswordForm.controls['newPassword'].errors.minlength">
                                            *Minimum password length is 6.
                                          </div>
                                    </div>
                                  </div>

                                  <div class="pt-3">
                                    <button class="btn addCandidateBtn w-100" [disabled]="!ChangePasswordForm.valid" (click)="submitForm()">SUBMIT</button>
                                  </div>
                                  <!-- <p class="forgot _add_cursor mt-3" [routerLink]="['/main/manager/dashboard']" >Back</p> -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>