@import "../../../../assets/styles/variable.scss";

.card-header-icon {
    text-align:right;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
p {
    margin: 0;
}
.card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $orange, $orange);
    box-shadow: 0 4px 20px 0 rgba(255, 129, 55, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card .card-icon2 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $green, $green);
    box-shadow: 0 4px 20px 0 rgba(64, 161, 68,0.14), 0 7px 10px -5px rgba(13, 77, 15, 0.4);
}
.card .card-icon3 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $light-blue, $light-blue);
    box-shadow: 0 4px 20px 0 rgba(11, 210, 224, 0.14), 0 7px 10px -5px rgba(23, 166, 223, 0.4);
}
.card-stats .card-header.card-header-icon i {
    font-size: 22px;
    line-height: 35px;
    width: 40px;
    height: 24px;
    text-align: center;
}
.card-category {
    color: #999;
p {
    font-size: 14px;
}
h3 {
    font-size: 16px;
}
}




.table_outer {
    margin-top: 47px !important;
    margin-bottom: 30px !important;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $orange;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $orange;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.view-network li .date {
    font-size: 13px;
    color: #929292;
    font-weight: bold
 }
 
.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $orange;
font-size: 15px;
font-weight: bold;
}
.tableheadingnetwork {
    color: $orange;
    font-size: 18px;
    font-weight: bold;
    }
    .tablenetworkheading {
        background-color: $orange;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $orange;
    }

    .tableheading1 {
        color: $light-blue;
        font-size: 15px;
        font-weight: bold;
        }
        .tableheadingnetwork1{
            color: $light-blue;
            font-size: 18px;
            font-weight: bold;
            }
            .tablenetworkheading1 {
                background-color: $light-blue;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $light-blue;
            }



.table>thead>tr>th {
    border:none;
    // border-bottom-width: 1px;
}
.table thead th {
    
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: #777777;
    padding: 4px 0px 4px 0px;
    width: 90px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $light-blue;
    color:white;
}
tr {
    border:none;
}

.table td {
    border-top:none;
}
.view-network li .icon img {
    width: 20px;
}
.view-network1 li .icon img {
    width: 20px;
}
.view-network li {
    list-style: none;
   text-decoration: none;
}
.view-network ul {
    text-decoration: none;
    list-style: none;
 }
 .view-network1 ul {
    text-decoration: none;
    list-style: none;
 }
 .view-network li .date {
     font-size: 14px;
     color: #2D9A32;
     font-weight: bold;
 }
 .view-network1 li .date {
    font-size: 14px;
    color: $light-blue;
    font-weight: bold;
}
 .view-network li .text {
     
    font-size: 14px;
    color: #777777;
}
.view-network1 li .text {
     
    font-size: 14px;
    color: #777777;
}

.pagination_custom  li{
    background-color: $orange;
}
::-webkit-scrollbar-thumb {
    background: $orange !important;
    border-radius: 10px;
  }
  .modalHeight::-webkit-scrollbar-thumb {
    background: $light-blue !important;
    border-radius: 10px;
  }
  .max_height::-webkit-scrollbar-thumb {
    background: $green !important;
    border-radius: 10px;
  }
  ._add_message_btn  {
    font-size: 15px;
    padding:7px;
    cursor: pointer;
  }
  .startclass {
    cursor: pointer;
    background: gainsboro;
    padding: 4px 27px 4px 27px;
    border-radius: 13px;
    font-size: 13px;
  }
  ._add_message_btn:hover {
      color: whitesmoke;
  }
  .profilePic {
    height: 35px;
    width: 35px;
    border-radius: 30px;
  }
  .suspendclass {
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 11px;
    padding: 6px 25px 6px 25px;
    white-space: nowrap;
}
.greenClass {
    background-color: $green;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $green;
}
.max_height {
    overflow: auto;
    height: 250px;
}
.nodata {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}
.modalHeight {
    height: 164px;
    overflow: auto;
}
.titleModalHeight {
    height: 164px;
    overflow: auto;
}
.table>tbody>tr>td {
    border-bottom: 1px solid rgb(238, 238, 238);
}
li  {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 4px;
    margin-right: 6px;

}