<div class="content">
  <div class="container-fluid">
    <div class="row m-0">
      <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner>
      <div class="col-md-6 col-lg-6">
        <div class="card table_outer">
          <div class="card-header card-header-primary tablenetworkheading">
            <div class="row">
              <h4 style="font-size: 14px; padding: 7px" class="col ml-2">
                Current Assessments List
              </h4>
              <!-- <p  #statusBtn  class="col text-right mr-2 _add_message_btn" (click)="openModal('row',modal,statusBtn)">Add Message</p> -->
            </div>

            <!-- <p>All canditates</p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive titleModalHeight pr-3">
              <table class="table">
                <!-- <thead class="tableheading">
                  <tr>
                    <th scope="col">Title</th>
                    <th  scope="col">Status</th>
                  </tr>
                </thead> -->
                <tbody>
                  <tr class="nodata" *ngIf="assessmentList.length == 0"> No Assessments Available</tr>
                  <tr *ngFor="let item of assessmentList">
                    <td style="white-space: nowrap;" data-bs-toggle="tooltip" data-bs-placement="bottom" title={{item?.titleOriginal}}>{{item?.title}}</td>
                     <td style="white-space: nowrap;">{{item?.status}}</td>

                     <!-- for skills at initial -->
                    <td style="white-space: nowrap" class="pr-0">
                      <span 
                      *ngIf="item?.skillStatus == 'Pending'"
                      class="print _add_cursor"
                      style="line-height: 15px"
                        routerLink="/main/employee/submit-assessment"
                        [queryParams]="{id:item.userAssessmentId}"
                      >Pending</span>
                      <span
                      *ngIf="item?.skillStatus == 'inProgress' && item?.percentage =='0'"
                      class=" _add_cursor"
                        style="line-height: 15px"
                        routerLink="/main/employee/submit-assessment"
                        [queryParams]="{id:item.userAssessmentId}"
      
                        ><progress-bar [progress]="0" [color]="'#sfc940e'">
                        </progress-bar> </span>

                      <span *ngIf="item?.percentage >'0'"
                        routerLink="/main/employee/submit-assessment"
                        [queryParams]="{id:item.userAssessmentId}"
                        class=" _add_cursor"
                        ><progress-bar [progress]="item.percentage" [color]="'#sfc940e'">
                      </progress-bar></span>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="card table_outer">
          <div class="card-header card-header-primary tablenetworkheading1">
            <div class="row">
              <h4 style="font-size: 14px; padding: 7px" class="col ml-2">
                Focus Skills
              </h4>
            </div>

            <!-- <p>All canditates</p> -->
          </div>
          <div class="card-body">
            <div class="view-network1">
              <ul class="modalHeight">
                <li class="nodata" *ngIf="networkList1.length == 0"> No Skills Available</li>
                <li *ngFor="let item of networkList1" class="mt-1">
                 
                  <span class="icon mr-2" 
                    ><img src="../../../../../assets/images/star.svg" alt=""
                  /></span>
                  <span class="text"> {{ item.title }} </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-0 m-0">
      <div class="col-md-12 col-lg-12 p-0">
        <div class="card table_outer">
          <div class="card-header card-header-primary greenClass">
            <div class="row">
              <h4 style="font-size: 14px; padding: 7px" class="col ml-2">
                Network Update
              </h4>
              <!-- <p
                #statusBtn
                class="col text-right mr-2 _add_message_btn"
                (click)="openModal('row', modal, statusBtn)"
              >
                View All
              </p> -->
            </div>

            <!-- <p>All canditates</p> -->
          </div>
          <div class="card-body">
            <div class="view-network">
              <div class="text-center" style="font-size: 12px;" *ngIf="networkList.length == 0"> No message Available !!</div>
              <ul [ngClass]="{ max_height: networkList.length > 4 }">
                <div class="p-0 m-0" *ngFor="let item of networkList">
                  <li *ngIf="item?.message !== null">
                    <div class="m-0 p-0" >
                      <span class="date">{{ item?.humanDate }}</span> <br />
                      <span  *ngIf="item?.type == 'adminMessage'"><img class="announcementIcon" src="../../../../../assets/images/megaphone.png" alt=""></span> 
                      <span class="icon" *ngIf="item?.type == 'skillUpgrade'"><img src="../../../../../assets/images/star.svg" alt=""></span> 
                      <span class="text">   {{ item.message }} </span>
                    </div>
               
                  </li>
                </div>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <div class="row col-md-12 justify-content-center">
      <p for="">Network Update</p>
    </div>
    <button
      type="button"
      class="btn btn-link close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-3 col-md-12 text-center m-0 p-0">
      <label for="">Message</label> <br />
      <textarea
        name=""
        class="w-100"
        style="
          font-size: 12px;
          background-color: #eeeeee;
          border: none;
          height: 100px;
        "
      ></textarea>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center">
      <button
        style="background-color: #0c479d"
        class="w-50 btn addCandidateBtn"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template>

<ng-template #showAssessmentModal let-modal>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <app-spinner *ngIf="isLoading1" [type]="'normal'"  ></app-spinner>
    <div class="row mt-3 col-md-12 justify-content-center  m-0 p-0">
     <p class="_modal_text">Are you sure ?</p>
     <p class="_modal_text"> You want to send request to manager !</p>
    </div>
    <div class="row mt-3 col-md-12 justify-content-center m-0 p-0">
     <button style="background-color: #0C479D;" class="w-50 btn addCandidateBtn"  (click)="sendApprovalRequest()" > Yes</button>
    </div>
    <div class="row mt-2 col-md-12 justify-content-center m-0 p-0">
      <button style="background-color: #0C479D;" (click)="modal.dismiss('Cross click')" class="w-50 btn addCandidateBtn"> No</button>
     </div>


</div>

</ng-template>