<div class="col-md-12 pt-3 p-0">
  <div class="card table_outer">
    <div class="card-header card-header-primary">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="tablename">Employees List</h4>
          <p class="tablesubname">Eligible employees</p>
        </div>
        <div class="col text-right">
          <button class="btn discardBtn" [routerLink]="['/main/manager/list-assessment']">Back</button>
        </div>
      </div>
      <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <app-no-file *ngIf="managerList.length <= 0"></app-no-file>
        <table *ngIf="managerList.length > 0" class="table">
          <thead class="tableheading">
            <tr>
              <th>
               
                  <label class="main">
                    <input
                      (click)="selectAll()"
                      type="checkbox"
                      [(ngModel)]="listValue"
                    />
                    <span class="geekmark"></span>
                  </label>
            
                

              </th>
              <th scope="col">Profile</th>
              <th scope="col " class="_noWrap">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Title</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of managerList; let i = index" [ngClass]="{highlightrow: list.assessmentStatus == true}">
              <td>
                <label class="main">
                  <input
                    (change)="changeEmployee(i, list.assessmentStatus)"
                    type="checkbox"
                    
                    [(ngModel)]="list.assessmentStatus"
                    checked="checked"
                  />
                  <span class="geekmark"></span>
                </label>
              </td>
              <td>
                <img
                  class="profilePic"
                  [src]="
                    list.profilePic
                      ? list.profilePic
                      : '../.../../../../../../assets/images/userhd.png'
                  "
                />
              </td>
              <td style="white-space: nowrap">
                {{ list?.firstName }} {{ list?.lastName }}
              </td>
              <td>{{ list?.email }}</td>
              <td data-bs-toggle="tooltip" data-bs-placement="bottom" title={{list?.fullTitle}}>{{ list?.title}}</td>
              <td class="_noWrap">
                <span
                  class="suspendclass _add_cursor"
                  style="line-height: 15px"
                  #DeleteBtn
                  [queryParams]="{id:list.userId,id1:assessmentId}"
                  routerLink="/main/manager/view-profile"
                  >View Profile</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-0 m-0 mt-2 mb-3 align-items-center">
      <!-- <div class="col"><button class="btn addCandidateBtn " routerLink="/main/admin/add-employee" >+ Add New Employee</button> </div> -->
      <div class="col" style="margin-right: 10px">
        <div class="col" *ngIf="managerList.length > 0">
          <button
            class="btn addCandidateBtn"
            [disabled]="isSubmit == false"
            (click)="assignEmployee()"
          >
            Assign
          </button>
        </div>
        <div class="pagination_custom" *ngIf="managerList.length > 0">
          <ul class="d-flex flex-row">
            <li
              (click)="prevPage()"
              [ngClass]="{ disabled_pagination: currentPage == 0 }"
            >
              <
            </li>
            <li class="show_number">
              {{ currentPage + 1 }} / {{ totalPage }}
            </li>
            <li
              (click)="nextPage()"
              [ngClass]="{ disabled_pagination: currentPage + 1 == totalPage }"
            >
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modaldelete let-modal>
    <div class="card-body">
      <div class="formout">
        <div class="container-fluid p-0">
          <app-spinner *ngIf="isLoading" [type]="'normal'"></app-spinner>
          <div class="col-md-7 col-xs-7 m-auto p-0">
            <div class="content mt-4">
              <div class="row justify-content-center">
                <img
                  class="imageUpload"
                  (click)="swalImg(profileDetail?.profilePic)"
                  src="{{
                    profileDetail?.profilePic
                      ? profileDetail?.profilePic
                      : '../../../../../../../assets/images/userhd.png'
                  }}"
                  alt=""
                />
              </div>
              <div class="row justify-content-center mt-3">
                <div class="col-6 text-right">
                  <p>Name:</p>
                </div>
                <div class="col-6 left">
                  <p>
                    {{ profileDetail?.firstName || "--" }}
                    {{ profileDetail?.lastName }}
                  </p>
                </div>
                <div class="col-6 text-right">
                  <p>Email:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.email || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Phone Number:</p>
                </div>
                <div class="col-6 left">
                  <p [innerHTML]="_mobileFormat(profileDetail?.mobile)">{{ profileDetail?.mobile || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Manager Name:</p>
                </div>
                <div class="col-6 left">
                  <p>
                    {{ profileDetail?.managerFirstName || "--" }}
                    {{ profileDetail?.managerLastName }}
                  </p>
                </div>
                <div class="col-6 text-right">
                  <p>Title:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.title || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Department:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.department[0] || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Facility:</p>
                </div>
                <div class="col-6 left">
                  <p>{{ profileDetail?.facility || "--" }}</p>
                </div>
                <div class="col-6 text-right">
                  <p>Salary:</p>
                </div>
                <div class="col-6 left">
                  <p class="salary">{{ profileDetail?.salary || "--" }}</p>
                </div>
              </div>
              <div class="row justify-content-center mt-2">
                <button
                  class="btn addCandidateBtn"
                  (click)="modal.dismiss('Cross click')"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
