@import "../../../../assets/styles/variable.scss" ;
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $dark-blue;
    box-shadow: 0 4px 20px 0 rgba(160, 155, 155, 0.14), 0 7px 10px -5px $dark-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $dark-blue;
font-size: 15px;
font-weight: bold;
}


.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: none;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.table tr td {
    border-bottom:1px solid rgb(238, 238, 238);
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 6px 38px 7px 38px;
    cursor: pointer;
}
.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
}
._modal_text{
    color: #0C479D;
    font-size: 16px;
    font-weight: bold;
}


.profilePic {
    height: 28px;
    width: 29px;
    border-radius: 35px;

}

.resetclass {
    line-height: 15px;
    background: rgba(26, 255, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 2px 25px 2px 25px;
}
.table td {
    border-top:none;
}
.suspendclass {
    line-height: 15px;
    background: rgba(255, 177, 0, 0.3);
    border-radius: 25px;
    font-size: 10px;
    padding: 4px 25px 4px 25px;
}

.addCandidateBtn {
    background-color: $dark-blue;
    color:white;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}


@media(max-width:768px ){
    .btn {
        padding:9px;
        font-size: 13px;
    }
    .pagination_custom li {
        padding:7px
    }
}

._no_color {
    width: 20px;
}
._green_color {
    color: #40A144;
}
._sky_color {
    color: #02B1C5;
}
.orange_color {
    color:#FC940E;
}

.main { 
    //display: block;
    position: relative;
    cursor: pointer;
}

  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    /* background-color: #c7c7c7; */
    border: 1px solid grey;
} 
  
/* Specify the background color to be 
shown when hovering over checkbox */ 
// .main:hover input ~ .geekmark { 
//     background-color: #c7c7c7; 
// } 
  

/* Specify the background color to be 
shown when checkbox is checked */ 
// .main input:checked ~ .geekmark { 
//     background-color: #0c479d;
// } 
  
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.main .geekmark:after { 
    left: 5px;
    bottom: 3px;
    width: 8px;
    height: 14px;
    border: solid #0c479d;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} 
.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: #0C479D;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #0C479D;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 14px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}
.card-body {
    padding: .9375rem 20px;
    position: relative;
}
.tableheading {
color:#0C479D;
font-size: 15px;
font-weight: bold;
}
.table>thead>tr>th {
    border-bottom-width: 1px;
}
// .table thead th {
//     border-bottom: 1px solid #DEE2E6;
//     border-top:none;
// }
.table>tbody>tr>td {
    color:#777777;
    font-size: 15px;
    font-weight: 400;
}
.imageUpload {
    height: 120px;
    width: 120px;
    border-radius: 80px;
    cursor: pointer;
}
._gn_password {
    position: absolute;
    right: 31px;
    bottom: 27px;
    font-size: 9px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
.view_profile li {
    list-style: none;
   text-decoration: none;
}
.view_profile ul {
    text-decoration: none;
    list-style: none;
 }
 .pull-right {
    color: #000000;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
.left {
    span {
            color: #777777;
            font-size: 16px;
    }
}
@media(max-width:768px ) {
    .leftul span {
        font-size: 16px;
    }
    .rightul span {
        font-size: 16px;
    }
    .left {
        margin-left:0px;
    }
    // .text-right {
    //     text-align:center!important;
    // }
    // .left {
    //     text-align: center;
    // }

}
li {
    font-size: 16px;
}
.text-right {
    font-size:16px;
}
.left {
    font-size:16px;
}

.salary::before {
    content: "$";
}

.highlightrow {
    background: #e8e8e8;
}